{% extends "layout.html" %}

{% block pageTitle %}
List of APIs - Apprenticeship services - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">List of APIs</h1>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Recruitment API (Live)</a>
      </p>
      <ul class="govuk-list govuk-list-bullet">
        <li></li>
        <li></li>
      </ul>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Recruitment API (Sandbox)</a>
      </p>
      <ul class="govuk-list govuk-list-bullet">
        <li></li>
        <li></li>
      </ul>
      <p class="govuk-body">
        <a href="display-adverts-api-key" class="govuk-link govuk-link--no-visited-state">Display adverts API</a>
      </p>
      <ul class="govuk-list govuk-list-bullet">
        <li></li>
        <li></li>
      </ul>
  </div>
</div>
{% endblock %}