
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukDetails({
      summaryText: "Sprint goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we're doing</th>
            <th scope='col' class='govuk-table__header'>Why we're doing it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Updating designs for the Create vacancy journeys</td>
            <td class='govuk-table__cell'>Recent UR recommendations include a number of content changes. Mainly on the task list page. </td>
          </tr>
        </tbody>
      </table>"
    }) }}    
    <ul class="govuk-list govuk-list--bullet">
      <h3 class="govuk-heading-m">EPIC: Create vacancy for employers and providers</h3>
      <ul class="govuk-list govuk-list--bullet">  
        <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Design tickets (in Trello)</h4> 
        <li><a href="https://trello.com/c/32pz7j3S" class="govuk-link govuk-link--no-visited-state">#101 RAA Fix the vacancy creation journey</a></li>          
        <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Design artefacts</h4>                            
        <li><a href="https://miro.com/app/board/o9J_lk5ggEg=/" class="govuk-link govuk-link--no-visited-state">Design board (Miro)</a></li>
        <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Copy docs</h4>
        <p class="govuk-body">Held in Trello tickets above</p>
        <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Employer service links</h4>                                                
        <li><a href="v5/employer/login" class="govuk-link govuk-link--no-visited-state">Create an advert</a></li>
        <li><a href="v5/employer/login?startpage=1" class="govuk-link govuk-link--no-visited-state">Create an advert - first time user (with Start page)</a></li>        
        <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Provider service links</h4>                                                
        <li><a href="v5/provider/login" class="govuk-link govuk-link--no-visited-state">Create a vacancy</a></li>
      </ul>
    </ul>
  </div>
</div>