{% extends "tp-layout.html" %}

{% block pageTitle %}
Manage vacancy
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Are you sure you want to tell Ellen Collins that they have been unsuccessful?</h1>

    

        <p class="govuk-body" >
          This will notify <b>Ellen Collins</b> that they won’t be offered the apprenticeship.
        </p>

        <h2 class="govuk-heading-m">Your message to the applicant:</h2>

        <div class="govuk-inset-text">
          {{ data['contact-by-unsuccessful'] }}
        </div>

<!-- radio buttons START -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <form method="post" action="3c-manage-applications-unsuccessful-single">

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="share_applications_yes" name="share_applications" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="share_applications_yes">
                  Yes, notify the applicant
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="share_applications_no" name="share_applications" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="share_applications_no">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>
 <!-- radio buttons END -->

 {{ govukWarningText({
  text: "This action cannot be undone.",
  iconFallbackText: "Fallback text"
}) }}

 <button class="govuk-button" data-module="govuk-button">
  Confirm
</button>

</form>

  </div>
</div>

{% endblock %}
