{% set version = 'v13' %}


<h2 class="govuk-heading-l">
  <span class="govuk-tag">LATEST version</span><br>
  Design sprint 13
  <span class="govuk-caption-l">
     24 October 2022 &ndash; present
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukDetails({
      summaryText: "Sprint design work",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we've done</th>
            <th scope='col' class='govuk-table__header'>Why we're doing it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Allowing providers to share applications with employers within the service</td>
            <td class='govuk-table__cell'>RAA improvements</td>
          </tr>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Allowing employers to review applications shared with them</td>
            <td class='govuk-table__cell'>RAA improvements</td>
          </tr>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Improve managing applications</td>
            <td class='govuk-table__cell'>RAA improvements</td>
          </tr>

        </tbody>
      </table>"
    }) }}    

 

     
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design tickets (in Trello)</h4> 
    <ul class="govuk-list govuk-list--bullet"> 
      <!-- <li><a href="https://trello.com/c/elcTGU4Q/219-219-update-edit-live-vacancy-journey-employer-prover-traineeships" class="govuk-link govuk-link--no-visited-state">Edit live vacancy</a></li>   -->
    </ul>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design artefacts</h4>  
    <ul class="govuk-list govuk-list--bullet">                           
      <li><a href="https://lucid.app/lucidspark/75df8cd3-1247-466f-b7c6-7980cf119bf5/edit?viewport_loc=-451923%2C-406751%2C41806%2C21450%2C0_0&invitationId=inv_295930d0-a2eb-4b25-a72a-e25f0aea5c39#" class="govuk-link govuk-link--no-visited-state">Lucid board</a></li>
    </ul>

<!-- ////EMPLOYER//// -->
      <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Employer</h4>                                              
      <div class="govuk-button-group">
        <a href="/{{version}}/employer/login" class="govuk-button" style="background: #6F72AF" data-module="govuk-button">View journey</a>
      </div>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we've done 
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class='govuk-table'>                    
            <thead class='govuk-table__head'>
              <tr class='govuk-table__row'>
                <th scope='col' class='govuk-table__header'>Page</th>
                <th scope='col' class='govuk-table__header'>What we've done</th>
              </tr>
            </thead>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="/v13/employer/email-shared-applications">Email to employer</a></td>
                <td class='govuk-table__cell'>
                  <li>NEW email send to employer what applications have been shared for them to review</li>
                </td>
              </tr>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'>Homepage tasks bar</td>
                <td class='govuk-table__cell'>
                  <li><a class="govuk-link govuk-link--no-visited-state" href="/v13/employer/home">ADDED notification task</a></li>
                </td>
              </tr>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'>UR version testing of dashboard</a></td>
                <td class='govuk-table__cell'>
                  <li><a class="govuk-link govuk-link--no-visited-state" href="/v13/employer/view/0-dashboard">ADDED new tile</a></li>
                  <li><a class="govuk-link govuk-link--no-visited-state" href="/v13/employer/view/0-dashboard-v3">ADDED banner</a></li>
                  <li><a class="govuk-link govuk-link--no-visited-state" href="/v13/employer/view/0-dashboard-v2">ADDED new tile (0 tiles)</a></li>
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
      </details>




<!-- //// PROVIDER//// -->
      <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Provider</h4>

      <div class="govuk-button-group">
        <a href="/{{version}}/provider/login" class="govuk-button" style="background:#F47737" data-module="govuk-button">View journey</a> 
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we've done 
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class='govuk-table'>                    
            <thead class='govuk-table__head'>
              <tr class='govuk-table__row'>
                <th scope='col' class='govuk-table__header'>Page</th>
                <th scope='col' class='govuk-table__header'>Notes</th>
              </tr>
            </thead>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="/v13/provider/view/0-dashboard">UR dashboard link</a></td>
                <td class='govuk-table__cell'>
                  <li> For pre-share with employer (part 1) of sharing applications journey</li>
                </td>
              </tr>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="/v13/provider/view/0-dashboard-employer-reviewed">UR dashboard link</a></td>
                <td class='govuk-table__cell'>
                  <li> For employer reviewed (part 2) of sharing applications journey</li>
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
      </details>


<!-- ////TRAINEESHIP -->
      <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Traineeship</h4>  

      <div class="govuk-button-group">
        <a href="/{{version}}/provider/login" class="govuk-button" style="background: #417F82" data-module="govuk-button">View journey</a>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we've done
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class='govuk-table'>                    
            <thead class='govuk-table__head'>
              <!-- <tr class='govuk-table__row'>
                <th scope='col' class='govuk-table__header'>Page</th>
                <th scope='col' class='govuk-table__header'>What we've done this sprint</th>
              </tr>
            </thead>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'>Live vacancy - <a class="govuk-link govuk-link--no-visited-state" href="/v9/traineeships/view-vacancy/3c-dates">Edit vacancy dates</a></td>
                <td class='govuk-table__cell'>
                  <li>CHANGED the journey to edit dates</li>
                </td>
              </tr>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'>Live vacancy - <a class="govuk-link govuk-link--no-visited-state" href="/v9/traineeships/view-vacancy/3b-manage-vacancy-edited">Manage vacancy</a></td>
                <td class='govuk-table__cell'>
                  <li>CHANGED to GDS style success notification banner</li>
                  <li>CHANGED 'Edit vacancy' link to 'Edit vacancy dates'</li>
                </td>
              </tr>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'>Choose organisation - <a class="govuk-link govuk-link--no-visited-state" href="/v9/traineeships/create/employers-select">Choose vacancy organisation</a>
                <br><br> <a class="govuk-link govuk-link--no-visited-state" href="/v9/traineeships/create/employers-select-0">Choose vacancy organisation - 0 search results</a></td>
                <td class='govuk-table__cell'>
                  <li>CHANGED the page to align with other parts of selecting employer across the service - choose organisation</li>
                </td>
              </tr>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'>Choose organisation - <a class="govuk-link govuk-link--no-visited-state" href="/v9/traineeships/create/employers-confirm">Confirm organisation</a></td>
                <td class='govuk-table__cell'>
                  <li>ADDED new page to confirm organisation</li>
                </td>
              </tr> -->
            </tbody>
          </table> 
        </div>
      </details>
                                     



  </div>
</div>