{% extends "ma-layout.html" %}

{% block pageTitle %}
Manage advert
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<style>
  .govuk-notification-banner__content > * {
    box-sizing: border-box;
   max-width: 100%; }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Advert VAC1000000997 - 'Electronic Engineering Technician Apprentice' has been closed.
        </h3>
        <p class="govuk-body">The advert will be unpublished from Find an apprenticeship within the next hour.</p>
      </div>
    </div>

    <h1 class="govuk-heading-xl">Manage advert</h1>



<!-- ////START SUMMARY//// -->
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      Live
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Advert title
    </dt>
    <dd class="govuk-summary-list__value">
      Electronic Engineering Technician Apprentice
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Advert reference
    </dt>
    <dd class="govuk-summary-list__value">
      VAC1000000997
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Closing date
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">01 Jan 2022</p>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Possible start date
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">01 Aug 2022</p>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Disability confident
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">No</p>
    </dd>
  </div>
</dl>
<!-- ////END SUMMARY//// -->
    

    <div class="grid-row">
      <div class="column-full">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="">
              <a class="govuk-button" data-module="govuk-button" href="view">View advert</a>
            </div>
          </div>
        </div>

        <p class="govuk-body">
          <a class="govuk-link button-link  govuk-link--no-visited-state" href="#">Edit advert</a> &nbsp;
          <a class="govuk-link button-link  govuk-link--no-visited-state" href="#">Clone advert</a> &nbsp;
        </p>
      </div>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<!-- ///ANALYTICS//// -->
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l">Advert analytics
  <span class="govuk-caption-l">Showing stats from 20th Jan 2019 to 19th Feb 2019</span>
</h2>
<p class="govuk-body">Analytics show the total amount and the change from the previous 7 days</p>
<div id="analytics" class="govuk-grid-row">
  <div class="analytics--block govuk-grid-column-one-half">
    <!-- <h3 class="analytics--header govuk-heading-s">Appeared in search</h3> -->
    <h3 class="govuk-heading-s">Appeared in search</h3>
    <div class="analytics--summary">
      <!-- <div class="analytics--numeric">68 <span class="govuk-visually-hidden">times</span></div> -->
      <p class="analytics--info">68</p>
      <p class="analytics--info"><span class="govuk-!-font-weight-bold">+12</span> increase <span class="govuk-visually-hidden"> in the last 7 days</span></p>
    </div>
    <!-- <div class="analytics--summary">
      <div class="analytics--numeric">68 <span class="govuk-visually-hidden">times</span></div>
      <p class="analytics--info"><span class="govuk-!-font-weight-bold">+12</span> increase <span class="govuk-visually-hidden"> in the last 7 days</span></p>
    </div> -->
  </div>
  <div class="analytics--block govuk-grid-column-one-half">
    <!-- <h3 class="analytics--header govuk-heading-s">Total times viewed</h3> -->
    <h3 class="govuk-heading-s">Total times viewed</h3>
    <div class="analytics--summary">
      <!-- <div class="analytics--numeric">12</div> -->
      <p class="analytics--info">12</p>
      <p class="analytics--info"><span class="govuk-!-font-weight-bold">+5</span> increase <span class="govuk-visually-hidden"> in the last 7 days</span></p>
    </div>
  </div>
  <div class="analytics--block govuk-grid-column-one-half">
    <!-- <h3 class="analytics--header govuk-heading-s">Total applications started</h3> -->
    <h3 class="govuk-heading-s">Total applications started</h3>
    <div class="analytics--summary">
      <!-- <div class="analytics--numeric">7</div> -->
      <p class="analytics--info">7</p>
      <p class="analytics--info"><span class="govuk-!-font-weight-bold">+1</span> increase <span class="govuk-visually-hidden"> in the last 7 days</span></p>
    </div>
  </div>
  <div class="analytics--block govuk-grid-column-one-half">
    <!-- <h3 class="analytics--header govuk-heading-s">Total applications submitted</h3> -->
    <h3 class="govuk-heading-s">Total applications submitted</h3>
    <div class="analytics--summary">
      <!-- <div class="analytics--numeric">1</div> -->
      <p class="analytics--info">12</p>
      <p class="analytics--info"><span class="govuk-!-font-weight-bold">No</span> increase</p>
    </div>
  </div>
</div>
</div>
</div>

<!-- ////END ANALYTICS//// -->
<br>
<br>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<h2 class="govuk-heading-l">Manage applications</h2>
<table class="govuk-table responsive-table">
  <thead class="govuk-table__header">
    <tr class="govuk-table__row" role="row">
      <th class="govuk-table__cell" role="gridcell" class="bold">Name</th>
      <th class="govuk-table__cell" role="gridcell" class="bold">Application ID</th>
      <th class="govuk-table__cell" role="gridcell" class="bold">Status</th>
      <th class="govuk-table__cell" role="gridcell" class="bold">Date applied</th>
      <th class="govuk-table__cell" role="gridcell" class="bold">Disability</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="govuk-table__cell" role="gridcell" data-label="Name"><a href="../account/application-succesful">Faizal Dawood</a></td>
      <td class="govuk-table__cell" role="gridcell" data-label="Application ID">C5662EA</td>
      <td class="govuk-table__cell" role="gridcell" data-label="Status">Successful</td>
      <td class="govuk-table__cell" role="gridcell" data-label="Date applied">18 Oct 2018</td>
      <td class="govuk-table__cell" role="gridcell" data-label="Prefer not to say">Prefer not to say</td>

    </tr>
    <tr>
      <td class="govuk-table__cell" role="gridcell" data-label="Name"><a href="../account/application-failed">Bill Shoggins</a></td>
      <td class="govuk-table__cell" role="gridcell" data-label="Application ID">C3432TR</td>
      <td class="govuk-table__cell" role="gridcell" data-label="Status">Unsuccessful</td>
      <td class="govuk-table__cell" role="gridcell" data-label="Date applied">18 Oct 2018</td>
      <td class="govuk-table__cell" role="gridcell" data-label="Prefer not to say">Prefer not to say</td>

    </tr>
    <tr>
      <td class="govuk-table__cell" role="gridcell" data-label="Name"><a href="../account/application-new">Rolo Tomasi</a></td>
      <td class="govuk-table__cell" role="gridcell" data-label="Application ID">C8824ED</td>
      <td class="govuk-table__cell" role="gridcell" data-label="Status">New</td>
      <td class="govuk-table__cell" role="gridcell" data-label="Date applied">18 Oct 2018</td>
      <td class="govuk-table__cell" role="gridcell" data-label="Prefer not to say">Prefer not to say</td>

    </tr>
  </tbody>
</table>
</div>
</div>

{% endblock %}
