{% extends "tp-layout.html" %}

{% block pageTitle %}
What do you want to call this vacancy? - Recruitment - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% if data.journey != "new" %}
<a href="{%if data.edit != 'yes' %}create-vacancy{%else%}../vacancy-preview?edit=no{%endif%}" class="govuk-back-link">Back</a>
{% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="100">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="with-hint">
              What do you want to call this vacancy?
              </label>
            </h1>
            <p class="govuk-body">Use a title that relates to the apprenticeship training for this vacancy, this will help it get found in the Find an apprenticeship search.</p>
            <div id="with-hint-hint" class="govuk-hint">
              Must include the word ‘apprentice’ or ‘apprenticeship’
            </div>
            <input class="govuk-input js-character-count" id="title" name="title" type="text" value="{% if data.title and data.edit == 'yes' %}{{data.title}}{%endif%}">
          </div>
        
          <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 100 characters
          </div>
        
        </div>

        <div class="govuk-form-group">
          {% if data.edit != "yes"%}
          <input type="submit" class="govuk-button" data-module="govuk-button" name="continueButton" value="Save and continue"/>
            <a href="../dashboard" class="govuk-body das-button--link">Cancel</a>
          {%else%}
            <input type="submit" class="govuk-button" data-module="govuk-button" name="previewButton" value="Save and preview"/>
            <a href="../vacancy-preview" class="govuk-body das-button--link">Cancel</a>
          {%endif%}
        </div>
    </form>
  </div>
</div>

{% endblock %}
