<h2 class="govuk-heading-l" id="sprint-8">
  <span class="govuk-tag">LATEST version</span><br>
  Design sprint 8
  <span class="govuk-caption-l">
    8 June 2022 &ndash; 21st June 2022
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukDetails({
      summaryText: "Sprint goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we're doing</th>
            <th scope='col' class='govuk-table__header'>Why we're doing it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Updating parts of the employer recruit journey</td>
            <td class='govuk-table__cell'>There is so it's consistent with the training provider journey</td>
          </tr>
        </tbody>
      </table>"
    }) }}    

 

     
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design tickets (in Trello)</h4> 
    <ul class="govuk-list govuk-list--bullet"> 
      <!-- <li><a href="https://trello.com/c/Nsimx4WS/202-202-employer-dashboard-deep-links" class="govuk-link govuk-link--no-visited-state">#202 Employer Dashboard deep links</a></li>  
      <li><a href="https://trello.com/c/eKqQSfuN/201-201-provider-dashboard-deep-links" class="govuk-link govuk-link--no-visited-state">#201 Provider Dashboard deep links</a></li>  
      <li><a href="https://trello.com/c/wXuKlerw/213-213-traineeship-dashboard-view-vacancy-links" class="govuk-link govuk-link--no-visited-state">#213 Traineeship Dashboard View Vacancy links</a></li>   -->
    </ul>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Journey flow</h4>  
    <ul class="govuk-list govuk-list--bullet">                           
      <!-- <li><a href="https://lucid.app/lucidspark/75df8cd3-1247-466f-b7c6-7980cf119bf5/edit?existing=1&docId=75df8cd3-1247-466f-b7c6-7980cf119bf5&shared=true&invitationId=inv_295930d0-a2eb-4b25-a72a-e25f0aea5c39#" class="govuk-link govuk-link--no-visited-state">Lucid board</a></li> -->
    </ul>

<!-- ////EMPLOYER//// -->
      <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Employer</h4>                                              
      <div class="govuk-button-group">
        <a href="v8/employer/login" class="govuk-button" style="background: #6F72AF" data-module="govuk-button">View journey</a>
      </div>

      <table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>Page</th>
            <th scope='col' class='govuk-table__header'>What</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="/v8/employer/view-advert/3b-manage-advert-closed">Close vacancy</a></td>
            <td class='govuk-table__cell'>
              <li>UPDATED content into banner once user has closed an advert</li>
            </td>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
            <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="v8/employer/create/check-your-answers">Check your answers</a></td>
            <td class='govuk-table__cell'>
              <li>ADDED warning content</li>
            </td>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
            <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="v8/employer/create/advert-preview">Preview your advert</a></td>
            <td class='govuk-table__cell'>
              <li>ADDED warning content</li>
            </td>
          </tr>
        </tbody>
      </table>  

<!-- //// PROVIDER//// -->
      <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Provider journey</h4>

      <div class="govuk-button-group">
        <a href="v8/provider/login" class="govuk-button" style="background:#F47737" data-module="govuk-button">View vacancy</a> 
      </div>

      <table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>Page</th>
            <th scope='col' class='govuk-table__header'>What</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="/v8/provider/view-vacancy/3b-manage-vacancy-closed">Close vacancy</a></td>
            <td class='govuk-table__cell'>
              <li>UPDATED content into banner once user has closed a vacancy</li>
            </td>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
            <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="v8/provider/create/check-your-answers">Check your answers</a></td>
            <td class='govuk-table__cell'>
              <li>ADDED warning content</li>
            </td>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
            <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="v8/provider/create/preview-vacancy">Preview your vacancy</a></td>
            <td class='govuk-table__cell'>
              <li>ADDED warning content</li>
            </td>
          </tr>
        </tbody>
      </table>  


<!-- ////TRAINEESHIP -->
      <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Traineeship journey</h4>  

      <div class="govuk-button-group">
        <a href="v8/provider/login" class="govuk-button" style="background: #417F82" data-module="govuk-button">View vacancy</a>
      </div>

      <table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>Page</th>
            <th scope='col' class='govuk-table__header'>What</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="/v8/traineeships/view-vacancy/3b-manage-vacancy-closed">Close vacancy</a></td>
            <td class='govuk-table__cell'>
              <li>UPDATED content into banner once user has closed a vacancy</li>
            </td>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
            <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="v8/traineeships/create/check-your-answers">Check your answers</a></td>
            <td class='govuk-table__cell'>
              <li>ADDED warning content</li>
            </td>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
            <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="v8/traineeships/create/preview-vacancy">Preview your vacancy</a></td>
            <td class='govuk-table__cell'>
              <li>ADDED warning content</li>
            </td>
          </tr>
        </tbody>
      </table>                                            



  </div>
</div>