// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "components/cookie-banner";

//Summary card style
@import "components/_summary-card";

// Summary box styles
// @import "components/_info-summary";
// @import "components/_success-summary";

// MA Floating menu styles
@import "components/_ma-menu";

// Select2 styles
@import "components/_select2";
@import "components/_autocomplete";
@import "components/_accordion";
@import "components/_provider"; // Provider header styles
@import "components/_icons"; // icon font styles
@import "components/_card"; // icon font styles
@import "components/_das-card"; // icon font styles
@import "components/_analytics"; // icon font styles
@import "components/_side-navigation"; // moj side nav styles
@import "components/_login-nav"; // login nav styles

.das-section-break--thick{
    border-bottom-width:4px;
  }
  
  .hidden,
  .js-enabled .js-hidden {
    display: none;
    visibility: hidden;
  }
  
  .govuk-link--danger{
    color: #B10E1E !important;
  }
  
  
  .das-button--link {
    display: inline-block;
    padding: 10px 15px 5px 10px;
  }
  a.das-link--error{
    color:  $govuk-error-colour !important;
  }
  /*** Tag styles ***/
  .das-tag {
      background: #FFFFFF;
      border:3px solid #bfc1c3;
      color: #0b0c0c;
      font-weight:400;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    padding: 0.3em 0.4em 0.2em;
    text-align: center;
  }
  
  
  
  .das-header-actions{
    text-align: right;
  
    margin-top:10px;
    $mobile: 768px;
    @media (max-width: $mobile) {
      text-align: left;
  
    }
  }
  .das-header-actions .govuk-button{
    margin-bottom: 20px ;
  }
  
  
  .das-tag--approved {
    border-color:  #006435;
  }
  
  span.das-tag--rejected{
    border-color: #B10E1E;
  }
  span.das-tag--closed{
    border-color: #0b0c0c;
  
  }
  span.das-tag--live {
      border-color: #006435;
  }
  span.das-tag--submitted {
      border-color: #F47738;
  }
  span.das-tag--draft {
      border-color: #bfc1c3;
  }
  span.das-tag--new {
    border-color: #005ea5;
  }
  .das-todo {
    border: 1px solid #bfc1c3;
    padding: 15px;
    overflow: auto;
  }
  
  .das-summary {
    border: 1px solid #bfc1c3;
    padding: 30px;
    overflow: auto;
  }
  .das-tag--transferred{border-color:#005ea5;margin-top:5px}
  .govuk-info-basic{border:3px solid #005ea5; padding:20px; margin-bottom: 20px; }
  .govuk-info-basic p{font-size: 16px;}
  .govuk-info--warning{border:3px solid #f47738;}
  // Richard Hatton's added CSS
  
  .das-preview-empty {
    border-left: 5px solid #2e358b;
    min-height: 80px;
    padding-left: 15px;
    margin-top: 20px;
  }
  
  .das-button-secondary {
    background-color: #BFC1C3;
    box-shadow: #6f777b;
    color: #0B0C0C !important;
    display: inline-block;
    padding: 7px 15px;
    text-decoration: none;
  }
  .das-button-secondary:hover{
    background-color: #6f777b;
    color: #ffffff !important;
  }
  .das-button-secondary:hover{
    background-color: #6f777b;
    color: #ffffff !important;
    box-shadow: none;
  }
  
  .das-grid-column--right {
    $mobile: 768px;
    text-align: right;
    @media (max-width: $mobile) {
      text-align: left;
    }
  }
  
  .das-disability-confident-logo {
    width: 150px;
    margin-top: 10px;
  }
  .das-edit-link{margin-top:-15px; display:block;}
  .das-delete-button,
  .das-delete-button:hover,
  .das-delete-button:visited {
    background-color: #b10e1e;
    box-shadow: 0 2px 0 #003618;
  }
  //Resopoinsive tables
  
  .responsive-table {
    $mobile: 768px;
    width: 100%;
  
    thead {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      @media (min-width: $mobile) {
        clip: auto;
        display: table-header-group;
        height: auto;
        overflow: auto;
        position: relative;
        width: auto;
      }
    }
  
    tbody {
      @media (min-width: $mobile) {
        display: table-row-group;
      }
  
      tr {
        display: block;
        @media (max-width: $mobile) {
          margin-bottom: 10px;
          display: block;
          float: left;
          width: 100%;
          box-sizing: border-box;
          border: 2px solid #bfc1c3;
        }
      }
  
      td {
        display: block; // For browsers that don't support flexbox
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        @media (min-width: $mobile) {
          display: table-cell;
        }
        @media (max-width: $mobile) {
          padding-right: 0;
        }
      }
  
      .table-heading {
        font-weight: 700;
        text-align: left;
        padding-right: 1em;
        display: block;
        @media (min-width: $mobile) {
          display: none;
        }
      }
  
      tr {
        margin-bottom: 1em;
  
        &:last-child {
          margin-bottom: 0;
        }
        @media (min-width: $mobile) {
          display: table-row;
        }
  
        th {
          text-align: right;
          @media (min-width: $mobile) {
            text-align: left;
          }
        }
  
        td {
          min-width: 1px;
          text-align: right;
          @media (min-width: $mobile) {
            text-align: left;
          }
          @media (max-width: $mobile) {
            padding: 10px 10px 8px;
            box-sizing: border-box;
            border-bottom: 1px dotted #bfc1c3;
          }
  
          &.numeric {
            text-align: left;
            @media (min-width: $mobile) {
              text-align: right;
            }
          }
        }
      }
  
      .total {
        @media (max-width: $mobile) {
          display: block;
        }
      }
    }
  }
  
  .table-foot {
    border-bottom: 1px solid #bfc1c3;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    padding: 1em 0 0.75em;
  }
  //Pagination
  .das-pager {
    margin-top: 1em;
    margin-bottom: 1.25em;
    font-size: 18px;
    font-size: 1.125rem;
  }
  
  .das-pager-items {
    display: none;
  }
  @media (min-width: 641px) {
    .das-pager-items {
      display: inline;
      padding: 0;
    }
  
    .das-pager-items li {
      display: inline;
      margin: 0 5px;
    }
  
    .das-pager-items li:first-child {
      margin-left: 0;
    }
  
    .das-pager-items li:last-child {
      margin-right: 0;
    }
  }
  
  .das-pager-next,
  .das-pager-prev {
    margin-right: 10px;
  }
  @media (min-width: 641px) {
    .das-pager-next,
    .das-pager-prev {
      margin-right: 0;
    }
  }
  @media (min-width: 641px) {
    .das-pager-prev {
      margin-right: 10px;
    }
  }
  @media (min-width: 641px) {
    .das-pager-next {
      margin-left: 10px;
    }
  }
  @media (min-width: 641px) {
    .das-pager-controls {
      float: right;
    }
  }
  // Autocomplete search styling
  
  .search-field {
    position: relative;
  }
  
  .search-input {
    position: static;
    margin: 0;
    padding: 0;
  }
  
  .search-input-with-button {
    padding-right: 50px;
  }
  
  .search-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    overflow: visible;
  }
  
  .search-input input {
    -webkit-appearance: none;
    border-radius: 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 0 0 10px;
    display: block;
    height: 50px;
    border-color: #bfc1c3;
    line-height: 48px !important;
  }
  @media (min-width: 641px) {
    .search-input input {
      font-size: 19px;
      line-height: 1.31579;
    }
  }
  
  .search-field-darker .search-input input {
    border-color: #6f777b;
  }
  
  .search-input-with-button input {
    border-right: none;
  }
  
  .search-submit button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: none;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #2b8cc4;
    background-image: url("/public/images/search-button.png");
    background-repeat: no-repeat;
    background-position: -12.5% 50%;
  }
  
  .search-submit button:focus,
  .search-submit button:hover {
    background-color: #267daf;
  }
  

// autocomplete
.autocomplete__wrapper{position:relative}.autocomplete__hint,.autocomplete__input{-webkit-appearance:none;border:2px solid #0b0c0c;border-radius:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin-bottom:0;width:100%}.autocomplete__input{background-color:transparent;position:relative}.autocomplete__hint{color:#b1b4b6;position:absolute}.autocomplete__input--default{padding:5px}.autocomplete__input--focused{outline:3px solid #fd0;outline-offset:0;box-shadow:inset 0 0 0 2px}.autocomplete__input--show-all-values{padding:5px 34px 5px 5px;cursor:pointer}.autocomplete__dropdown-arrow-down{z-index:-1;display:inline-block;position:absolute;right:8px;width:24px;height:24px;top:10px}.autocomplete__menu{background-color:#fff;border:2px solid #0b0c0c;border-top:0;color:#0b0c0c;margin:0;max-height:342px;overflow-x:hidden;padding:0;width:100%;width:calc(100% - 4px)}.autocomplete__menu--visible{display:block}.autocomplete__menu--hidden{display:none}.autocomplete__menu--overlay{box-shadow:rgba(0,0,0,.256863) 0 2px 6px;left:0;position:absolute;top:100%;z-index:100}.autocomplete__menu--inline{position:relative}.autocomplete__option{border-bottom:solid #b1b4b6;border-width:1px 0;cursor:pointer;display:block;position:relative}.autocomplete__option>*{pointer-events:none}.autocomplete__option:first-of-type{border-top-width:0}.autocomplete__option:last-of-type{border-bottom-width:0}.autocomplete__option--odd{background-color:#fafafa}.autocomplete__option--focused,.autocomplete__option:hover{background-color:#1d70b8;border-color:#1d70b8;color:#fff;outline:0}.autocomplete__option--no-results{background-color:#fafafa;color:#646b6f;cursor:not-allowed}.autocomplete__hint,.autocomplete__input,.autocomplete__option{font-size:16px;line-height:1.25}.autocomplete__hint,.autocomplete__option{padding:5px}@media (min-width:641px){.autocomplete__hint,.autocomplete__input,.autocomplete__option{font-size:19px;line-height:1.31579}}

.autocomplete__wrapper * {
    @include govuk-typography-common();
}

.no-button{padding:0px;margin:0px;background-color:none;border:none;cursor: pointer}

.sort {
  display: inline-block;
  padding-left: 1.25em;
  margin: 0 0 0em 0;
  background: url(../images/sort-blue.svg) no-repeat 0% 15%;
  background-size: 0.65em;
  text-decoration: underline;
  color: #1d70b8;
}

  
  .govuk-component__link {
    @include govuk-link-common;
    @include govuk-link-style-no-visited-state;
  }
  // add extra table column controls
  .das-table-colomn-15 {
    width: 100%;
  }
  
  .das-table-colomn-10 {
    width: 100%;
  }
  
  .das-table-colomn-5 {
    width: 100%;
  }
  .das-table-colomn-30 {
    width: 100%;
  }
  .das-table-colomn-20 {
    width: 100%;
  }
  .das-table-colomn-45 {
    width: 100%;
  }
  @media (min-width: 768px) {
    .das-table-colomn-45 {
      width: 45%;
    }
    .das-table-colomn-30 {
      width: 30%;
    }
    .das-table-colomn-25 {
      width: 25%;
    }
    .das-table-colomn-20 {
      width: 20%;
    }
    .das-table-colomn-15 {
      width: 15%;
    }
  
    .das-table-colomn-10 {
      width: 10%;
    }
  
    .das-table-colomn-5 {
      width: 5%;
    }
  }
  
  .das-referred-summary {
    border: 5px solid #f47738;
  }
  .das-success-summary {
    border: 5px solid #28a197	;
  }
  
  .das-icon-cross {
    font-size: 36px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .das-icon-error {
    color: #b10e1e;
  }
  
  .das-referred--section {
    border-left: 5px solid #f47738;
    min-height: 80px;
    padding-left: 15px;
  }
  .das-action-links li {
      float: left;
      margin-right: 40px;
  }
  .das-table--small{
    td.govuk-table__cell,
    th.govuk-table__header {
      font-size: 16px !important;
      font-size: 1rem !important;
      line-height: 1.25 !important;
    }
  }
  .das-info-summary-solid{
    background: #005ea5;
    color: #fff;
  }
  
  .govuk-header--right-nav{
    border-bottom: 10px solid #ffffff;
    .govuk-header__container{
      position: relative;
      margin-bottom: -10px;
      padding-top: 10px;
      border-bottom: 10px solid #6f72af;
    }
    nav{
      margin: 0;
      margin-bottom: -1px;
      float: right;
  
    }
  }
  
  .govuk-summary-list {
      font-family: "GDS Transport", Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
      color: #0b0c0c;
      margin: 0;
      margin-bottom: 20px
  }
  
  @media print {
      .govuk-summary-list {
          font-family: sans-serif
      }
  }
  
  @media (min-width: 40.0625em) {
      .govuk-summary-list {
          font-size: 19px;
          font-size: 1.1875rem;
          line-height: 1.31579
      }
  }
  
  @media print {
      .govuk-summary-list {
          font-size: 14pt;
          line-height: 1.15
      }
  }
  
  @media print {
      .govuk-summary-list {
          color: #000
      }
  }
  
  @media (min-width: 40.0625em) {
      .govuk-summary-list {
          display: table;
          width: 100%;
          table-layout: fixed
      }
  }
  
  @media (min-width: 40.0625em) {
      .govuk-summary-list {
          margin-bottom: 30px
      }
  }
  
  @media (max-width: 40.0525em) {
      .govuk-summary-list__row {
          margin-bottom: 15px;
          border-bottom: 1px solid #b1b4b6
      }
  }
  
  @media (min-width: 40.0625em) {
      .govuk-summary-list__row {
          display: table-row
      }
  }
  
  .govuk-summary-list__key,
  .govuk-summary-list__value,
  .govuk-summary-list__actions {
      margin: 0
  }
  
  @media (min-width: 40.0625em) {
      .govuk-summary-list__key,
      .govuk-summary-list__value,
      .govuk-summary-list__actions {
          display: table-cell;
          padding-right: 20px
      }
  }
  
  @media (min-width: 40.0625em) {
      .govuk-summary-list__key,
      .govuk-summary-list__value,
      .govuk-summary-list__actions {
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #b1b4b6
      }
  }
  
  .govuk-summary-list__actions {
      margin-bottom: 15px
  }
  
  @media (min-width: 40.0625em) {
      .govuk-summary-list__actions {
          width: 20%;
          padding-right: 0;
          text-align: right
      }
  }
  
  .govuk-summary-list__key,
  .govuk-summary-list__value {
      word-wrap: break-word;
      overflow-wrap: break-word
  }
  
  .govuk-summary-list__key {
      margin-bottom: 5px;
      font-weight: 700
  }
  
  @media (min-width: 40.0625em) {
      .govuk-summary-list__key {
          width: 30%
      }
  }
  
  @media (max-width: 40.0525em) {
      .govuk-summary-list__value {
          margin-bottom: 15px
      }
  }
  
  @media (min-width: 40.0625em) {
      .govuk-summary-list__value {
          width: 50%
      }
  }
  
  @media (min-width: 40.0625em) {
      .govuk-summary-list__value:last-child {
          width: 70%
      }
  }
  
  .govuk-summary-list__value>p {
      margin-bottom: 10px
  }
  
  .govuk-summary-list__value>:last-child {
      margin-bottom: 0
  }
  
  .govuk-summary-list__actions-list {
      width: 100%;
      margin: 0;
      padding: 0
  }
  
  .govuk-summary-list__actions-list-item {
      display: inline;
      margin-right: 10px;
      padding-right: 10px
  }
  
  .govuk-summary-list__actions-list-item:not(:last-child) {
      border-right: 1px solid #b1b4b6
  }
  
  .govuk-summary-list__actions-list-item:last-child {
      margin-right: 0;
      padding-right: 0;
      border: 0
  }
  
  @media (max-width: 40.0525em) {
      .govuk-summary-list--no-border .govuk-summary-list__row {
          border: 0
      }
  }
  
  @media (min-width: 40.0625em) {
      .govuk-summary-list--no-border .govuk-summary-list__key,
      .govuk-summary-list--no-border .govuk-summary-list__value,
      .govuk-summary-list--no-border .govuk-summary-list__actions {
          padding-bottom: 11px;
          border: 0
      }
  }
  
  @media (max-width: 40.0525em) {
      .govuk-summary-list__row--no-border {
          border: 0
      }
  }
  
  @media (min-width: 40.0625em) {
      .govuk-summary-list__row--no-border .govuk-summary-list__key,
      .govuk-summary-list__row--no-border .govuk-summary-list__value,
      .govuk-summary-list__row--no-border .govuk-summary-list__actions {
          padding-bottom: 11px;
          border: 0
      }
  }
  
// Guidance styles

// Guidance documents list
.gem-c-document-list {
  font-size: 19px;
  line-height: 1.3157894737;
  color: #0b0c0c;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.gem-c-document-list__item {
  margin-bottom: 25px;
  padding-top: 10px;
  border-top: 1px solid #b1b4b6;
  list-style: none;
}

.gem-c-document-list__item-title {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3157894737;
  display: inline-block;
}

.gem-c-document-list__item-metadata {
  padding: 0;
}

.gem-c-document-list__attribute {
  color: #0b0c0c;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  display: inline-block;
  list-style: none;
  padding-right: 20px;
}

.gem-c-related-navigation {
  color: #0b0c0c;
  border-top: 2px solid #1d70b8;
  margin-top: 50px;
}

.gem-c-related-navigation__nav-section {
  margin-bottom: 30px;
}

.gem-c-related-navigation__sub-heading--footer {
  font-family: "GDS Transport",arial,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3157894737;
  border-top: 0;
  padding-top: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

.gem-c-related-navigation__sub-heading {
   margin: 0;
}

.gem-c-related-navigation__link-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1.25em;
}

.gem-c-related-navigation__link {
  line-height: 1.28;
  font-size: 16px;
  list-style: none;
  list-style-type: none;
  margin-top: 15px;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.gem-c-contents-list__title {
  @include govuk-text-colour;
  @include govuk-font($size: 16, $weight: regular, $line-height: 1.5);
  margin: 0;
}

.gem-c-contents-list__list,
.gem-c-contents-list__nested-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gem-c-contents-list__list-item {
  padding-top: govuk-spacing(2);
  line-height: 1.3;
  list-style-type: none;
}


.gem-c-contents-list__list,
.gem-c-contents-list__nested-list {
  @include govuk-text-colour;
  @include govuk-font($size: 16);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gem-c-contents-list__list-item--dashed {
  $contents-spacing: govuk-spacing(5);
  position: relative;
  padding-left: $contents-spacing;
  padding-right: $contents-spacing;

  &:before {
    content: "—";
    position: absolute;
    left: 0;
    width: govuk-spacing(4);
    overflow: hidden;

    .direction-rtl & {
      left: auto;
      right: 0;
    }
  }
}


// Pagination

.part-navigation-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px
    solid #b1b4b6;
  }

.pagination {
  padding: 15px 0 15px 0;
  margin-top: 80px;
  }

.pagination-subtitle-link {
  margin-top: -20px;
}

.pagination-link a, a:visited {
  text-decoration: none;
}




.info-notice {
  border-left: 10px solid #b1b4b6;
    padding: 1em 0 0.001em 1em;
    margin: 2em 0;
}

.related-navigation {
border-top: 2px solid #1d70b8;
padding-top: 10px;
margin-top: -40px;
}

.related-links li {
  line-height: 1.60;
}

.contents-list {
  padding-top: 50px;
  padding-bottom: 10px;
}

.contents li, ol {
  padding: 6px 25px 0px 0px;
}

.mainstream-guide-content {
}

// Pagination styling from GOV.UK Mainstream Guide

.gem-c-pagination {
  display: block;
  margin: govuk-spacing(8) 0;
}

.gem-c-pagination__list {
  margin: 0;
  padding: 40px 0 0 0;
}

.gem-c-pagination__item {
  font-size: 16;
  line-height: 2;
  list-style: none;

  &:first-child {
    margin-bottom: govuk-spacing(4);
  }
}

.gem-c-pagination__link {
  display: block;
  text-decoration: none;
  padding-bottom: govuk-spacing(4);

  &:hover,
  &:active,
  &:visited {
    color: $govuk-link-colour;
  }

  &:hover,
  &:active {
    background-color: govuk-colour("light-grey");

    // Add govuk-link hover decoration to title if no label present
    .gem-c-pagination__link-text--decorated {
      @include govuk-link-decoration;
    }

    .gem-c-pagination__link-label,
    .gem-c-pagination__link-text--decorated {
      @include govuk-link-hover-decoration;
    }
  }

  &:focus {
    @include govuk-focused-text;

    .gem-c-pagination__link-title {
      border-top-color: transparent;
    }

    .gem-c-pagination__link-icon {
      fill: $govuk-text-colour;
    }
  }
}

.gem-c-pagination__link-title {
  display: block;
  border-top: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(3);
}

.gem-c-pagination__link-divider {
  @include govuk-visually-hidden;
}

.gem-c-pagination__link-text {
  font-size: 19px;
  font-weight: bold;
  margin-left: 20px;
  @include govuk-font(19, $weight: bold);
  margin-left: govuk-spacing(2);
}

.gem-c-pagination__link-icon {
  @include govuk-font($size: 24, $line-height: (33.75 / 27));
  display: inline-block;
  margin-bottom: 1px;
  height: .482em;
  width: .63em;
  fill: govuk-colour("dark-grey", $legacy: "grey-1");
}

.gem-c-pagination__link-label {
  display: inline-block;
  margin-top: .1em;
  margin-left: govuk-spacing(5);
  }

// Copy button
.app-copy-button {
  $copy-button-colour: #00823b;

  @include govuk-font(16);
  position: absolute;
  z-index: 1;
  top: govuk-spacing(2);
  right: govuk-spacing(2);
  min-width: 110px;
  padding: 3px 10px;
  border: 1px solid $copy-button-colour;
  color: $copy-button-colour;
  background-color: govuk-colour("white");
  box-shadow: 0 2px 0 0 govuk-colour("green");
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:focus:not(:hover) {
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    box-shadow: 0 2px 0 0 $govuk-focus-text-colour;
  }

  &:active,
  &:focus {
    padding: 2px 10px; // Counter increased border size
    border: 2px solid $govuk-focus-colour;
    outline: 2px solid transparent;
    box-shadow: none;
  }

  &:active {
    margin-top: 2px;
    box-shadow: none;
  }
}

