{% extends "tp-layout.html" %}

{% block pageTitle %}
Add some information - Recruitment - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Information about {{data.orgName}}</h1>
        <!--{% if data.EmployerDescription and data.journey != 'new' %}
        <p class="govuk-body">Updating the employer information will also update the employer information on any unapproved vacancies eg. draft, pending review or rejected vacancies.</p>
        {%else%}
        <p class="govuk-body">You can add information about your organiasation. This information will be saved and automatically applied for any new vacancy for this organisation.</p>
        {%endif%}-->
        <p>Updating the employer information will also update the employer information on any unapproved vacancies, for example, draft, pending review or rejected vacancies.</p>
        <form method="post">
          <div class="govuk-character-count govuk-input--width-50" data-module="character-count" data-minlength="50" data-maxlength="500">
            <div class="govuk-form-group">
              <label class="govuk-label visiual" for="EmployerDescription">Tell us about the organisation</label>
              <!--<textarea class="govuk-textarea js-character-count" rows="5" data-val-length-max="500" id="EmployerDescription" name="EmployerDescription">{% if data.EmployerDescription and data.journey != 'new' %}{{ data.EmployerDescription}}{%endif%}</textarea>-->
              <textarea class="govuk-textarea js-character-count" rows="5" data-val-length-max="500" id="EmployerDescription" name="EmployerDescription"></textarea>
              <div id="shortDescription-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                You can enter up to 500 characters
              </div>
            </div>
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="EmployerWebsiteUrl">
              The organisation's website (optional)
            </label>
            <input class="govuk-input govuk-input--width-30" maxlength="100" type="text" id="EmployerWebsiteUrl" name="EmployerWebsiteUrl" value="{% if data.EmployerWebsiteUrl %}{{data.EmployerWebsiteUrl}}{%endif%}">
          </div>
          <div class="govuk-form-group">
            {{ govukButton({
              text: "Save and continue",
              href: "contact"
            }) }}   
            <a href="../dashboard" class="govuk-body das-button--link">Cancel</a>
            <!--<input type="submit" class="govuk-button" data-module="govuk-button" data-automation="btn-continue" name="button" value="Preview">-->
          </div>
  </form>
      </div>
    </div>

</div>
{% endblock %}