{% extends "tp-layout.html" %}

{% block pageTitle %}
Duration and working hours - Recruitment - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{% if data.title %}{{data.title}}{% else %}Safety, Health & Environment Technician Apprentice{% endif %}</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Duration and working hours</h1>

    <form method="post">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="duration">
          How long is the whole apprenticeship, including work and training?
        </label>
        <div class="govuk-hint">The apprenticeship must last at least 12 months. For {{data.training_level or "Food and Drink: Fish and Shellfish Industry Skills"}}, the typical length is 24 months.</div>
        <input class="govuk-input govuk-input--width-4" id="duration" name="duration" type="text">
        <select class="govuk-select" id="sort" name="sort">

          <option value="published">Months</option>
          <option value="published">Year(s)</option>
        </select>
      </div>

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="250">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="workingWeekDescription">
            Details of working week
          </label>
          <div class="govuk-hint">For example, Monday to Friday 9am to 5pm, shifts, may work evenings and weekends</div>
          <textarea class="govuk-textarea govuk-!-width-three-quarters govuk-js-character-count " id="workingWeekDescription"
            name="workingWeekDescription" rows="5"></textarea>
        </div>
        <div id="workingWeekDescription-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You can enter up to 250 characters
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="weekly-hours">
          How many hours will the apprentice work each week, including training?
        </label>

        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-4" id="weekly-hours" name="weeklyHours" type="text" {% if data.weeklyHours and data.edit == "yes"%} value="{{data.weeklyHours}}" {%endif%}>
          <div class="govuk-input__suffix" aria-hidden="true">hours</div>
        </div>
      </div>
      <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
          <a class="govuk-link" href="../dashboard">Cancel</a>
        </div>
      </form>
  </div>
</div>
{% endblock %}
