<h2 class="govuk-heading-l" id="sprint-6">
  <span class="govuk-tag">LATEST version</span><br>
  Design sprint 6
  <span class="govuk-caption-l">
    2nd February 2022 &ndash; Present
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukDetails({
      summaryText: "Sprint goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we're doing</th>
            <th scope='col' class='govuk-table__header'>Why we're doing it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Updating designs for the Create vacancy journeys</td>
            <td class='govuk-table__cell'>Adding further interactions based on the Sprint 4 research.</td>
          </tr>
        </tbody>
      </table>"
    }) }}    

    <h3 class="govuk-heading-m">EPIC: Create vacancy for employers and providers</h3>
     
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design tickets (in Trello)</h4> 
    <ul class="govuk-list govuk-list--bullet"> 
      <li><a href="https://trello.com/c/trM5yrcs" class="govuk-link govuk-link--no-visited-state">#162 RAAv2 improve guidance where they recruit from an external site</a></li>  
      <li><a href="https://trello.com/c/b8U6Fwnp" class="govuk-link govuk-link--no-visited-state">#152 RAA advert/vacancy preview page</a></li>  
      <li><a href="https://trello.com/c/BnnPvqGI" class="govuk-link govuk-link--no-visited-state">#115 RAA Adverts can have more than 1 location associated with it</a></li>  
    </ul>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design artefacts</h4>  
    <ul class="govuk-list govuk-list--bullet">                           
      <li><a href="https://lucid.app/lucidspark/75df8cd3-1247-466f-b7c6-7980cf119bf5/edit?existing=1&docId=75df8cd3-1247-466f-b7c6-7980cf119bf5&shared=true&invitationId=inv_295930d0-a2eb-4b25-a72a-e25f0aea5c39#" class="govuk-link govuk-link--no-visited-state">Lucid board</a></li>
    </ul>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Copy docs</h4>
    <ul class="govuk-list govuk-list--bullet"> 
      <li><a href="https://docs.google.com/document/d/192EWJbWDH5Oi4R2Swbv9Q5qiXUXFbQ98vNKDGflkruA/edit">How would you like to receive applications?</a></li>
      <li><a href="https://docs.google.com/document/d/1z-IQzJXBKG4Yc9QDClyyrW0dkp26ZgnA2NUyhhSiT7s/edit" class="govuk-link govuk-link--no-visited-state">Check your answers page</a></li>
      <li><a href="https://docs.google.com/document/d/1XjKuKG1G7QYp0ddgQ-J2SeRN8pL-OU0pdWYKSugWCTE/edit" class="govuk-link govuk-link--no-visited-state">Preview of ad</a></li>
      <li><a href="https://docs.google.com/document/d/16IqXENo404ykeolWRLyZNImmQSMP3m5D49ZVXXpdTOY/edit" class="govuk-link govuk-link--no-visited-state">Create an advert</a></li>
    </ul>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Employer prototype</h4>                                              
      <div class="govuk-button-group">
        <a href="v6/employer/login" class="govuk-button" style="background: #6F72AF" data-module="govuk-button">Create an advert</a>

        <a href="v6/employer/login?startpage=1" class="govuk-button" style="background: #6F72AF" data-module="govuk-button">Create an advert (new user)</a>
      </div>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Provider prototype <span style="font-weight: normal">(includes traineeship journey) </span></h4>

      <div class="govuk-button-group">
        <a href="v6/provider/login" class="govuk-button" style="background:#F47737" data-module="govuk-button">Create a vacancy</a> 

        <a href="v6/provider/login?startpage=1" class="govuk-button" style="background: #F47737" data-module="govuk-button">Create a vacancy (new user)</a>
      </div>
  </div>
</div>