{% extends "trainee-layout.html" %}

{% block pageTitle %}
Which employer do you want to create a vacancy for? - Recruitment - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if query.error == "yes" %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        Please fix these errors
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#dob-error">You must select an employer</a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
    <span class="govuk-caption-xl">{% if data.title %}{{data.title}}{% else %}Optical Assistant Traineeship{% endif %}</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Which organisation do you want to create a vacancy for?</h1>
    <form method="post" id="employers-form" action="">
    <!--<form method="post" id="employers-form" action="create-vacancy">-->
      {% if data.employerAmount > 10 %}
      <fieldset class="govuk-fieldset">
        <legend class="govuk-visually-hidden">Search your employers</legend>
        <div class="govuk-form-group search-field search-field-darker govuk-input--width-30">

          <div class="search-input search-input-with-button">
            <label class="govuk-label" for="query">
              <!--Client reference-->
              Search your employers
            </label>

            <div class="autocomplete__parent_wrapper">
              <div class="autocomplete__wrapper">
                <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                  <span>No search results.</span>
                  <span>,,</span>
                </div>
                <input aria-owns="searchOrgs__listbox" autocomplete="off" class="autocomplete__input" id="searchOrgsAuto" name="query" placeholder="" role="combobox" type="text" style="display:none;" value="">
              </div>
            </div>
            <input class="govuk-text" name="searchOrgQuery" id="searchOrgsQuery" value="">
          </div>
          <div class="search-submit">
            <button class="govuk-button" data-module="govuk-button" type="submit" id="searchOrgsSubmit" name="searchOrgsSubmit" value="Search Organisations">Search Organisations</button>
          </div>
        </div>
        <p class="" data-clear-filter="" aria-hidden="false"><a id="clearSearch" href="#">Clear search</a></p>
      </fieldset>
      {% endif %}
      <div id="oranisation-list" class="govuk-form-group {% if query.error == "yes" %}govuk-form-group--error{%endif%}">
        <fieldset class="govuk-fieldset">
          {% if query.error == 'yes' %}
          <span id="employer-error" class="govuk-error-message">You must select and employer</span>
          {% endif %}
          <div class="govuk-radios">
            {% for employer in data.employers %}
            {% if loop.index < 10 %}
            <div class="govuk-radios__item selection-item" data-item-id="{{loop.index+1}}">
              <input class="govuk-radios__input" id="selected-organisation-id-{{loop.index+1}}" name="selected_organisation_id" type="radio" value="{{employer.businessName}}" data-search-value="Organisation {{loop.index+1}}">
              <label class="govuk-label govuk-radios__label" for="selected-organisation-id-{{loop.index+1}}">
                {{employer.businessName}}
              </label>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </fieldset>
      </div>
      <div id="oranisation-list-1" class="govuk-form-group" style="display:none;">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios">
            <div class="govuk-radios__item selection-item" data-item-id="2" aria-hidden="false">
              <input class="govuk-radios__input" id="selected-organisation-id-2" name="selected_organisation_id" type="radio" value="Springfield Healthcare" data-search-value="Organisation 2">
              <label class="govuk-label govuk-radios__label" for="selected-organisation-id-2">
                Springfield Healthcare
              </label>
            </div>
        </fieldset>
      </div>


      <div id="oranisation-list-2" class="govuk-form-group" style="display:none;">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios">
            <div class="govuk-radios__item selection-item" data-item-id="2" aria-hidden="false">
              <input class="govuk-radios__input" id="selected-organisation-id-2" name="selected_organisation_id" type="radio" value="Springfield Healthcare" data-search-value="Organisation 2">
              <label class="govuk-label govuk-radios__label" for="selected-organisation-id-2">
                Springfield Healthcare
              </label>
            </div>
            <div class="govuk-radios__item selection-item" data-item-id="2" aria-hidden="false">
              <input class="govuk-radios__input" id="selected-organisation-id-2" name="sselected_organisation_id" type="radio" value="Hilton Worldwide" data-search-value="Organisation 2">
              <label class="govuk-label govuk-radios__label" for="selected-organisation-id-2">
                Hilton Worldwide
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <p id="oranisation-list-no-result" style="display:none;">0 matches for <span class="querytext"></span></p>

      {% if data.employerAmount > 25 %}
      <div class="pager das-pager" aria-hidden="false" style="margin-top:0" data-paging="">
        <div class="pager-controls das-pager-controls">
          <a class="pager-prev das-pager-prev hidden" href="#" aria-hidden="true" hidden="hidden">Prev</a>
          <ul class="govuk-list pager-items das-pager-items">
            <li data-page-number="1">1</li>
            <li data-page-number="2"><a href="#">2</a></li>
            <li data-page-number="3"><a href="#">3</a></li>
            <li data-page-number="4"><a href="#">4</a></li>
            <li data-page-number="5"><a href="#">5</a></li>
          </ul>
          <a class="pager-next das-pager-next" href="#" aria-hidden="false">Next</a>
        </div>
        <div class="das-pager-summary">Showing 1 to 25 of 87 employers</div>
      </div>
      {% endif %}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            My employer is not listed
          </span>
        </summary>
        <div class="govuk-details__text">
          Your employer is not listed because you do not have the permission to create a vacancy for them. You'll need to contact them to set this permission. 
        </div>
      </details>

      <!--<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>-->
      {{ govukButton({
        text: "Save and continue",
        href: "employer"
      }) }}      
      <a href="../dashboard" class="govuk-body das-button--link">Cancel</a>
    </form>

  </div>
</div>
{% endblock %}
