<h2 class="govuk-heading-l" id="sprint-12">
  <span class="govuk-tag">LATEST</span><br>
  Design sprint 2
  <span class="govuk-caption-l">
    10th &mdash; 23rd November 2021
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukDetails({
      summaryText: "Sprint goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we're doing</th>
            <th scope='col' class='govuk-table__header'>Why we're doing it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Iterating on our initial designs for the new API</td>
            <td class='govuk-table__cell'>The Apprenticeship service are building improved APIs to make it quicker and easier for users to advertise their apprenticeships on digital platforms</td>
          </tr>
        </tbody>
      </table>"
    }) }}    
    <ul class="govuk-list govuk-list--bullet">
      <h3 class="govuk-heading-m">EPIC: Recruitment APIs</h3>
        <ul class="govuk-list govuk-list--bullet">  
          <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Tickets</h4>                         
          <li><a href="https://trello.com/c/rbzR3aei" class="govuk-link govuk-link--no-visited-state">#129 - API permissions (Trello)</a></li>   
          <li><a href="https://trello.com/c/po0R1ggS" class="govuk-link govuk-link--no-visited-state">#128 - API subscription (Trello)</a></li>          
          <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Design artefacts</h4>                            
          <li><a href="https://miro.com/app/board/o9J_lqGAI0o=/" class="govuk-link govuk-link--no-visited-state">Design board (Miro)</a></li>
          <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Copy docs</h4>
          <!--<p class="govuk-body">External users accessing key - </p>
          <li><a href="https://drive.google.com/drive/u/1/folders/1Q5KyiycHeLzsNcpXxNKi6ERjFRlr6o3Y" class="govuk-link govuk-link--no-visited-state">Create account for API key</a></li>
          <p class="govuk-body govuk-!-margin-top-4">Renew API key are you sure - </p>
          <li><a href="https://docs.google.com/document/d/1p-aYvzF_YhmzDakW8aB-IHE5dICov7WmttSg4oe_i9g/edit" class="govuk-link govuk-link--no-visited-state">Create account email</a></li>
          <p class="govuk-body govuk-!-margin-top-4">Employer API key</p>
            <li><a href="https://docs.google.com/document/d/1OdBZXmt6Sb6kGmS_BtkyUA_H3Lvah8zd0RPyeHHcrbk/edit" class="govuk-link govuk-link--no-visited-state">Employer dashboard</a></li>
          <p class="govuk-body govuk-!-margin-top-4">Provider API key</p> 
            <li><a href="https://docs.google.com/document/d/1C0CbUWJhSAsscA6SgVbKNQbaKJP3zjmQH6ZQzMe2rDY/edit" class="govuk-link govuk-link--no-visited-state">Provider dashboard</a></li>-->
          <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Protoype links</h4>                            
            <li><a href="v2/guidance/api" class="govuk-link govuk-link--no-visited-state">gov.uk guidance</a></li>     
            <li><a href="v2/employer/home" class="govuk-link govuk-link--no-visited-state">Employer service (post-signin)</a></li>
            <li><a href="v2/provider/account-home" class="govuk-link govuk-link--no-visited-state">Provider service (post-signin)</a></li>
        </ul>
  </div>
</div>