{% extends "layout.html" %}

{% block pageTitle %}
Enter your email address - Forgotten password - Apprenticeship services - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Enter your email address
		</h1>		

		<form method="post" >
			{{ govukInput({
				label:
				{
					text: "Enter your registered email address to get a password reset link",
					classes: "govuk-!-width-three-quarters"
				},
				id: "email",
				name: "email",
				type: "email",
				classes: "govuk-!-width-three-quarters"
			}) }}

			<input type="hidden" value="" name="redirect">
			<input type="hidden" value="true" name="logged-in">

			{{ govukButton({
				text: "Continue",
				href: "forgotten-password-check-email"
			}) }}
		</form>
	</div>
</div>
{% endblock %}