
{% extends "layout-guidance.html" %}

{% block pageTitle %}
  Find an apprenticeship - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width govuk-!-margin-bottom-9">
    <div class="govuk-breadcrumbs govuk-!-margin-left-3">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Education and learning</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Apprenticeships, 14 to 19 education and training for work</a>
        </li>
      </ol>
    </div>    
  </div>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl govuk-!-margin-left-3">Find an apprenticeship</h1>
        <div class="govuk-grid-column-two-thirds">        
          <p class="govuk-body">Find an apprenticeship in England.</p>
          <p class="govuk-body">Search for apprenticeships based on location, interest and apprenticeship level.</p>  
          <a class="gem-c-button govuk-button govuk-button--start" role="button" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch"> Search <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path></svg></a>
        </div>   
        
        <div class="govuk-grid-column-one-third govuk-!-margin-top-6">       
          <div class="related-navigation">
            <h2 class="govuk-heading-s">Related content</h2>
            <ul class="govuk-list related-links">
              <li class="govuk-body-s"><a href="https://www.gov.uk/become-apprentice" class="govuk-link govuk-link--no-visited-state">Become an apprentice</a></li>
              <li class="govuk-body-s"><a href="https://www.gov.uk/find-traineeship" class="govuk-link govuk-link--no-visited-state">Find a traineeship</a></li>
            </ul>
          </div>   
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds mainstream-guide-content">
          <p class="govuk-body"><a href="https://www.findapprenticeship.service.gov.uk/register" class="govuk-link govuk-link--no-visited-state">Create an account</a> to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>save apprenticeships that interest you</li>
            <li>set up alerts for apprenticeships relevant to your interests</li>
            <li>view, manage and submit applications in one place</li>
          </ul>
          <p class="govuk-body"><a href="https://www.findapprenticeship.service.gov.uk/signin" class="govuk-link govuk-link--no-visited-state">Sign in</a> to your account.</p>
          <div class="govuk-inset-text">
            Apply for apprenticeships in <a href="https://www.apprenticeships.scot/" class="govuk-link govuk-link--no-visited-state">Scotland</a>, <a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" class="govuk-link govuk-link--no-visited-state">Northern Ireland</a> and <a href="https://careerswales.gov.wales/apprenticeship-search" class="govuk-link govuk-link--no-visited-state">Wales</a>.
          </div>
          <h2 class="govuk-heading-m">Help and support</h2>
          <p class="govuk-body"><a href="https://nationalcareers.service.gov.uk/careers-advice/application-forms" class="govuk-link govuk-link--no-visited-state">Get help with your application</a>.</p>

          <div class="gem-c-contextual-footer">
            <div class="gem-c-related-navigation">
              <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-aa1f7cc8">
                <h2 class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer">Explore the topic</h2>          
                <ul class="gem-c-related-navigation__link-list">
                  <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="https://www.gov.uk/browse/education/find-course">Apprenticeships, 14 to 19 education and training for work</a></li>
                  <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="https://www.gov.uk/browse/working/finding-job">Finding a job</a></li>
                  <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="https://www.gov.uk/topic/further-education-skills/apprenticeships">Apprenticeships</a></li>
                </ul>
              </nav>       
            </div>          
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          
        </div>
      </div>

      
    </main>
  </div>
</div>
{% endblock %}
