{% extends "tp-layout.html" %}

{% block pageTitle %}
Manage vacancy
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Gloucestershire Health and Care NHS Foundation Trust</span>
    <h1 class="govuk-heading-l">Entry Level Development Engineer Apprentice</h1>

    
        
        <p class="govuk-body" >
          Select the applications you would like to share with the employer. These applications will be shared anonymously.
        </p>

        <br>
  
<!-- search box START -->
    <fieldset class="govuk-fieldset">
      <legend class="govuk-visually-hidden">Search employer name or account name</legend>
      <div class="govuk-form-group search-field search-field-darker">

        <div class="search-input search-input-with-button">
          <label class="govuk-label" for="query">
            Search applicant name
          </label>

          <div class="autocomplete__parent_wrapper">
            <div class="autocomplete__wrapper">
              <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                <span>No search results.</span>
                <span>,,</span>
              </div>
              <input aria-owns="searchOrgs__listbox" autocomplete="off" class="autocomplete__input" id="searchOrgsAuto" name="query" placeholder="" role="combobox" type="text" style="display:none;" value="">
            </div>
          </div>
          <input class="govuk-text" name="searchOrgQuery" id="searchOrgsQuery" value="">
        </div>
        <div class="search-submit">
          <button class="govuk-button" data-module="govuk-button" type="submit" id="searchOrgsSubmit" name="searchOrgsSubmit" value="Search Organisations">Search Organisations</button>
        </div>
      </div>
    </fieldset>

  </div>
</div>
<!-- search box END -->

<!-- table START -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    <table class="govuk-table responsive-table">
      <thead class="govuk-table__header">
        <tr class="govuk-table__row" role="row">
          <th class="govuk-table__cell" role="gridcell" class="bold">Name</th>
          <th class="govuk-table__cell" role="gridcell" class="bold">Application ID</th>
          <th class="govuk-table__cell" role="gridcell" class="bold">Status</th>
          <th class="govuk-table__cell" role="gridcell" class="bold">Date applied</th>
          <th class="govuk-table__cell" role="gridcell" class="bold">Disability</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="govuk-table__cell" role="gridcell" data-label="Name"><a href="#">Faizal Dawood</a></td>
          <td class="govuk-table__cell" role="gridcell" data-label="Application ID">C5662EA</td>
          <td class="govuk-table__cell" role="gridcell" data-label="Status">Successful</td>
          <td class="govuk-table__cell" role="gridcell" data-label="Date applied">18 Oct 2022</td>
          <td class="govuk-table__cell" role="gridcell" data-label="Prefer not to say">Prefer not to say</td>

        </tr>
        <tr>
          <td class="govuk-table__cell" role="gridcell" data-label="Name"><a href="#">Bill Shoggins</a></td>
          <td class="govuk-table__cell" role="gridcell" data-label="Application ID">C3432TR</td>
          <td class="govuk-table__cell" role="gridcell" data-label="Status">Unsuccessful</td>
          <td class="govuk-table__cell" role="gridcell" data-label="Date applied">18 Oct 2022</td>
          <td class="govuk-table__cell" role="gridcell" data-label="Prefer not to say">Prefer not to say</td>

        </tr>
        <tr>
          <td class="govuk-table__cell" role="gridcell" data-label="Name"><a href="#">Rolo Tomasi</a></td>
          <td class="govuk-table__cell" role="gridcell" data-label="Application ID">C8824ED</td>
          <td class="govuk-table__cell" role="gridcell" data-label="Status">New</td>
          <td class="govuk-table__cell" role="gridcell" data-label="Date applied">18 Oct 2022</td>
          <td class="govuk-table__cell" role="gridcell" data-label="Prefer not to say">Prefer not to say</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- table END -->

{% endblock %}
