{% extends "tp-layout.html" %}

{% block pageTitle %}
Manage vacancy
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="6a-share-applications" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Do you want to share these applications?</h1>

    
  <!-- list START       -->
        <p class="govuk-body" >
          These applications will be shared anonymously with <b>Gloucestershire Health and Care NHS Foundation Trust</b> to view in their Apprenticeship service account:
        </p>
        <ul class="govuk-list govuk-list--bullet">


            {% if data['applications'] is string %}

            <li>{{ data[data['applications'] + '-name'] }}: {{ data['applications'] }}</li>

            {% else %}

                {% for applicantID in data['applications'] %}
                <li>{{ data[applicantID + '-name'] }}: {{ applicantID }}</li>
                {% else %}
                <li>No applicants selected</li>
                {% endfor %}

            {% endif %}
        </ul>
<!-- list END -->

<br>

<!-- radio buttons START -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <form method="post" action="3b-manage-vacancy-shared">

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="share_applications_yes" name="share_applications" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="share_applications_yes">
                  Yes, share these applications with employer
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="share_applications_no" name="share_applications" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="share_applications_no">
                  No, don't share these applications with employer
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>
 <!-- radio buttons END -->

 <button class="govuk-button" data-module="govuk-button">
  Continue
</button>

</form>

  </div>
</div>

{% endblock %}
