
{% extends "layout-guidance.html" %}

{% block pageTitle %}
Display adverts from Find an apprenticeship if you don’t have an Apprenticeship service account - Recruit an apprentice - Collection - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Apprenticeships</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="collection-home">Recruit an apprentice</a>
      </li>
    </ol>
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds contents-list">        
        <!--<span class="govuk-caption-xl gem-c-title__context">Collection</span>-->
        <h1 class="govuk-heading-xl">Display adverts from Find an apprenticeship if you don’t have an Apprenticeship service account</h1>
        <p class="govuk-body-l">How to access the Display adverts API if you don’t have an Apprenticeship service account.</p>
      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds mainstream-guide-content">
        <!--<h2 class="govuk-heading-m">Overview</h2>-->
        <p class="govuk-body">
          You can use our Display adverts API to display adverts from Find an apprenticeship on any website.
          <br><br>
          APIs (Application Programming Interfaces) let applications share information and data with each other. 
          <br><br>
          You'll need someone with technical knowledge to connect your system with the API, for example a software developer. 
          <br><br>
          Your developer will need to <a href="get-started#working-independently" class="govuk-link govuk-link--no-visited-state">create an account or sign in</a> to our developer hub to access the API key. 
          <br><br>
          Please note the RSS feed and Av live legacy tools will no longer be available from March 2022 and our new Display adverts API should be used instead.
        </p>
        <ul class="gem-c-document-list">
          <li class="gem-c-document-list__item">
            <a class="gem-c-document-list__item-title govuk-link govuk-link--no-visited-state" href="get-started#working-independently">Get started</a>
          </li>
        </ul>   
        <ul class="gem-c-pagination__list" data-module="gem-track-click">
              <li class="gem-c-pagination__item gem-c-pagination__item--next">
                <a href="/how-to-vote/voting-and-coronavirus" class="govuk-link gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/how-to-vote/voting-and-coronavirus" data-track-dimension="next" data-track-dimension-index="29">
                  <span class="gem-c-pagination__link-title">
                    <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                    <span class="gem-c-pagination__link-text">Next</span>
                  </span>
                  <!--<span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">Voting and coronavirus (COVID-19)</span>-->
                </a>
              </li>
          </ul>
          <!--<div class="pagination">
            <p class="govuk-heading-s"><a href="#" class="pagination-link">Next</a></p>
            <p class="govuk-body-s pagination-subtitle-link"><a href="#">Voting and coronavirus (COVID-19)</a></p>
          </div>-->
      </div>

    <div class="govuk-grid-column-one-third">
      <div class="related-navigation">
        <h2 class="govuk-heading-s">Related content</h2>
        <ul class="govuk-list related-links">
          <li class="govuk-body-s"><a href="#">List item 1</a></li>
          <li class="govuk-body-s"><a href="#">List item 2</a></li>          
        </ul>
      </div>
    </div>
  </main>
</div>
{% endblock %}