{% extends "layout.html" %}

{% block pageTitle %}
Password changed - Forgotten password - Apprenticeship services - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Password changed
		</h1>		
		<p class="govuk-body">
			Your password has been successfully changed. 
		</p>

		{{ govukButton({
			text: "Sign in",
			classes: "govuk-!-margin-top-6",
			href: "login"
		}) }}

	</div>
</div>
{% endblock %}