{% extends "layout_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype kit    
{% endblock %}

{% block content %}
<!--<main id="content" role="main" style="text-align: center;">-->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <img src="/public/images/das-raa-reset-password-email.png" width="1280px" id="email">
          <div style="margin-left: 45%;">
          <!--<h1 class="govuk-heading-m">Create an account to access the API key</h1>-->
          <p class="govuk-body">
            Dear Sarah Philips,
            <br><br>
            You’ve received this email because you’ve requested to reset your password on the Apprenticeship service developer portal.
            <br><br>
            Please click on the link below to change your password.
            <br><br>
            <a href="forgotten-password-change" class="govuk-link govuk-link--no-visited-state">https://developer.apprenticeships.education.gov.uk/password-changed/fdsfrfef68899ewfkewf5999g9g99t9</a>.
            <br><br>
            From
            <br><br>
            The Apprenticeship Service
            <br><br>          
            This is an automated message &mdash; do not reply.            
          </p>
        </div>
<!--</main>  -->
{% endblock %}