{% extends "tp-layout.html" %}

{% block pageTitle %}
Manage vacancy
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Gloucestershire Health and Care NHS Foundation Trust</span>
    <h1 class="govuk-heading-l">Entry Level Development Engineer Apprentice</h1>

  
    <p class="govuk-body-l">Vacancy reference: VAC1000000997</p>

    <p>
      This vacancy needs to be approved by the employer. If the employer approves the vacancy, it will be sent to the DfE for review.
    </p>

<!-- ////START vacancy summry//// -->
<h2 class="govuk-heading-m">Vacancy summary</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag">
        Pending employer review
      </strong>
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Close  <span class="govuk-visually-hidden"> vacancy</span>
      </a>
    </dd> -->
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Closing date
      <br>
      <br>
      Possible start date
    </dt>
    <dd class="govuk-summary-list__value">
      31 Jan 2023
      <br>
      <br>
      01 Feb 2023
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="3c-dates">
        Change<span class="govuk-visually-hidden"> vacancy dates</span>
      </a>
    </dd> -->
  </div>
</dl>

        <p class="govuk-body">
          <a class="govuk-link button-link  govuk-link--no-visited-state" href="view">View vacancy</a> &nbsp;
          <a class="govuk-link button-link  govuk-link--no-visited-state" href="#">Clone vacancy</a> &nbsp;
        </p>
    
<!-- END vacancy summary  -->








{% endblock %}
