{% extends "tp-layout.html" %}

{% block pageTitle %}
Manage vacancy
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Do you want to share this application?</h1>

    
  <!-- list START       -->

        <div style="background-color: #f3f2f1; padding: 15px;">

          <ul class="govuk-list govuk-list--bullet">

                  <li>Keith Stewart: 678CFR0</li>

          </ul>

        </div>
<!-- list END -->

<br><br>

<p class="govuk-body">This application will be shared: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>to the employer’s apprenticeship service account </li>
  <li>anonymously—but the employer will see the applicant's contact details if they want to interview the applicant</li>
</ul>

<br>

<!-- radio buttons START -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <form method="post" action="3c-manage-applications-shared">

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="share_applications_yes" name="share_applications" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="share_applications_yes">
                  Yes, share this application with employer 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="share_applications_no" name="share_applications" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="share_applications_no">
                  No, don't share this application with employer
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>
 <!-- radio buttons END -->

 <button class="govuk-button" data-module="govuk-button">
  Confirm
</button>

</form>

  </div>
</div>

{% endblock %}
