{% extends "trainee-layout.html" %}

{% block pageTitle %}
Edit vacancy dates - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Edit vacancy dates</h1>

    <form method="post" action="3b-manage-vacancy-edited">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="closing-hint" role="group">
          <label class="govuk-label govuk-label--m" for="shortDescription">
            Application closing date
          </label>
          <div id="closing-hint" class="govuk-hint">
            For example, 20 02 2022
          </div>
          <div class="govuk-date-input" id="closing">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="closing-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="closing-day" name="closing-day"
                  type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="closing-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="closing-month" name="closing-month"
                  type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="closing-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="closing-year" name="closing-year"
                  type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group {% if hasError and errorType == "dates" %}govuk-form-group--error{%endif%}">
        <fieldset class="govuk-fieldset" aria-describedby="start-hint" role="group">
          <label class="govuk-label govuk-label--m" for="shortDescription">
            Traineeship start date
          </label>
          <div id="closing-hint" class="govuk-hint">
            For example, 06 03 2022
          </div>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="start-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-day" name="start_day"
                  type="number" pattern="[0-9]*" {% if data.start_day and data.edit=="yes" %}value="{{data.start_day}}"{%endif%}>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="start-month">
                  Month
                </label>

                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-month" name="start_month"
                  type="number" pattern="[0-9]*" {% if data.start_month and data.edit=="yes" %}value="{{data.start_month}}"{%endif%}>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="start-year" >
                  Year
                </label>

                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-year" name="start_year"
                  type="number" pattern="[0-9]*" {% if data.start_year and data.edit=="yes" %}value="{{data.start_year}}"{%endif%}>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Update vacancy</button>
          <a class="govuk-link" href="../dashboard">Cancel</a>
        </div>
      </form>
  </div>
</div>

{% endblock %}
