{% extends "ma-layout.html" %}

{% block pageTitle %}
Check your answers before submitting your advert - Your apprenticeship adverts - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back to check your answers</a>
{% endblock %}

{% block content %}
<form action="" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Preview your advert</h1>
    </div>

    <div class="govuk-grid-column-full govuk-!-margin-bottom-7">
    <div class="govuk-!-padding-7" style="border:1px solid #b1b4b6">

      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-xl govuk-!-margin-bottom-6 govuk-grid-column-two-thirds">
            Safety, Health & Environment Technician Apprentice
            <span class="govuk-caption-l">AMAZON UK SERVICES LTD.</span>
          </h2>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">As a safety apprentice at Amazon, you’ll gain a vast range of useful experiences and skills. You will work towards the Level 3 Safety, Health and Environment (SHE) technician standard and also gain TechIOSH accreditation.</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Closing date</h3>
          <p class="govuk-body"> 16 Apr 2022</p>
        </div>
      </div>

      <div class="govuk-grid-row" id="apprenticeshipSummary">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Apprenticeship summary</h2>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <ul class="govuk-list">
            <li>
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Weekly wage</h3>
              <p id="vacancy-wage">
                  £578.00
              </p>
            </li>
            <li>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Working week</h3>
                <p id="vacancy-working-week" itemprop="workHours" class="sfa-small-bottom-margin">Amazon is a 24/7 operation; you must have flexibility in working hours and shift patterns to provide cover for operational requirements as this role may include working weekends and/or night shifts.</p>

                    <p id="total-hours-per-week">Total hours per week: 40.00</p>
            </li>
            <li>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Expected duration</h3>
                <p id="vacancy-expected-duration">18 months</p>
            </li>
            <li>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Possible start date</h3>
                <p id="vacancy-start-date">16 May 2022</p>
            </li>
            <li>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Date posted</h3>
                <p id="vacancy-posted-date">07 Feb 2022</p>
            </li>
            <li>
            </li>
            <li>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Apprenticeship level</h3>
                <p id="vacancy-type" itemprop="employmentType">
                    Advanced
                        <br>Level 3 (A level)                        </p>
            </li>
            <li>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Reference number</h3>
                <p id="vacancy-reference-id">VAC001816817</p>
            </li>
            <li>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Positions</h3>
                    <p id="number-of-positions">1 available</p>
            </li>
          </ul>
        </div>


        <div class="govuk-grid-column-two-thirds" id="vacancyDescription">
          <div itemprop="responsibilities" class="sfa-if-first">
            <div id="vacancy-full-descrpition" class="sfa-text-editor-generated ">
              <p>As a safety apprentice at Amazon, you’ll gain a vast range of useful experiences and skills. You will work towards the Level 3 Safety, Health and Environment (SHE) technician standard and also gain TechIOSH accreditation.</p>

              <p>Alongside extensive development of your technical skills, you will also grow your abilities in crucial complementary areas like organsiation, prioritization, data and problem-solving techniques, teamwork, communication, and presentation skills.</p>

              <p>You will work alongside the team supporting with day-to-day tasks learning how Amazon safety works and delivers for its customers. As your knowledge and skills increase over the duration of the scheme you will have opportunities to be part of and lead projects, making a difference for customers. The on-the-job experience will help you build a portfolio of evidence towards your apprenticeship. You will be given dedicated time to focus on your studies to help you stay on track and work towards successfully completing your qualification. &nbsp;Once you have successfully completed you will be able to apply for relevant roles across the business.</p>

              <p><br>
              <br>
              Our Fulfilment Centres are at the heart of Amazon’s rapidly growing business: they’re where we manage our fast-moving inventory. Our associate teams stow deliveries, pick products, package them up and ship them out: each of these groups have played their part in taking us where we are today.</p>

              <p><br>
              Here are some of the responsibilities within your role:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>Undertake risk assessments as required, while proactively following up on control measures until complete</li>
                <li>Complete daily metrics and callouts</li>
                <li>Take a Deep Dive into Fulfilment Centre data, as you monitor recordable incidents on-site</li>
                <li>Become a subject matter expert in your specific level of competence, while staying vigilant and not disclosing any sensitive information outside of your particular level</li>
                <li>Consistently monitor your Fulfilment Centre, keeping an eye on compliance with Amazon’s safety procedures</li>
                <li>Investigate accidents, near misses and any incidents, as you establish root cause</li>
                <li>Update internal records regarding incidents, near misses and accidents</li>
                <li>Undertake action plans to ensure continuing, sustained compliance with legislation</li>
                <li>Conduct yourself professionally at all times: you maintain confidentiality in matters involving safety investigations</li>
              </ul>

              <p>Amazon is the perfect place to start your career Safety. Safety apprentices can work across a number of teams in Amazon, such as loss prevention, HR and Operations Management working with other teams to deliver big or small projects successfully.</p>

              <p>&nbsp;Additional Info for Internal Candidates:</p>

              <p>If you are existing employee at Amazon and wish to apply for an apprenticeship you will need to meet all the basic qualifications to be eligible. This role for this scheme is set at tier/ level 3/ and the pay structure is aligned to Tier 3 in year 1. However, applying for an apprenticeship is personal choice and all successful applicants will be on a fixed term contract covering the duration of the apprenticeship scheme.</p>
            </div>
          </div>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Requirements and prospects</h2>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s">Desired skills</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>You are able to operate in a challenging and fast paced environment</li>
            <li>You are able to demonstrate drive and passion</li>
          </ul>

          <h3 class="govuk-heading-s">Personal qualities</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>You have a hands-on attitude, be flexible, adaptable, and proactive</li>
            <li>You aim to attain impeccable customer service and excellent customer facing skills</li>
            <li>You seek and respond well to feedback</li>
          </ul>

          <h3 class="govuk-heading-s">Desired Qualifications</h3>
          <p>For the apprenticeship program we prioritize applicants eligible to government funding for their apprenticeship and for this you need to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Have lived in the UK or in the European Economic Area (EEA) for the last 3 years</li>
            <li>Be a resident of the UK for the entire duration of the program</li>
            <li>If you already have a higher degree, or are studying towards a higher degree, in the same field or a related one, you will not be eligible to this apprenticeship</li>
            <li>Not be registered to study on a UK government funded course ending May 2022 or later.</li>
            <li>You will have achieved 4 GCSE’s (or equivalent) at grade A*-C (9-4) including English and maths</li>
          </ul>
        </div>

        <div class="govuk-grid-column-one-half">

          <h3 class="govuk-heading-s">Future prospects</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Amazon is the perfect place to start your career Safety. Safety apprentices can work across a number of teams in Amazon, such as loss prevention, HR and Operations Management working with other teams to deliver big or small projects successfully.</li>
   
          </ul>

          <h3 class="govuk-heading-s">Things to consider</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>You are flexible and able to work different shift patterns</li>
   
          </ul>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">About the employer</h2>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <ul class="govuk-list">
            <li>
              <p class="govuk-body">What unites Amazon employees across teams and geographies is that we are all striving to delight our customers and make their lives easier.</p>
              <p class="govuk-body">
                The scope and scale of our mission drives us to seek diverse perspectives, be resourceful, and navigate through ambiguity. Inventing and delivering things that were never thought possible isn't easy, but we embrace this challenge every day.
              </p>
              <p class="govuk-body">By working together on behalf of our customers, we are building the future one innovative product, service, and idea at a time. Are you ready to embrace the challenge? Come build the future with us.</p>
            </li>
            <li>
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Employer</h3>
              <p class="govuk-body">AMAZON UK SERVICES LTD.</p>
            </li>
            <li>
              <img src="https://www.findapprenticeship.service.gov.uk/Content/_assets/img/disability-confident.png" class="das-disability-confident-logo" alt="A logo confirming that the employer is registered as disability confident">
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    About disability confident
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p>Disabled candidates are generally guaranteed an interview if you meet the minimum requirements for this vacancy. Contact the employer for full details.</p>

                  <p>Employers may need to limit the number of interviews offered to both disabled and non-disabled people if they receive high numbers of applications.</p>

                  <p>The disability confident scheme supports employers to make the most of the talents disabled people can bring to your workplace.provide your nationality, you’ll have to send copies of identity documents through the post.</p>
                </div>
              </details>
            </li>

          </ul>
        </div>

      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Address</h3>
          <ul class="govuk-list">
            <li>Unit Dc1</li>
            <li>Boscombe Road</li>
            <li>Coventry</li>
            <li>Dunstable</li>
            <li>LU5 4FE</li>
          </ul>
        </div>
        <div class="govuk-grid-column-one-half">
          <img style="width:100%" id="static-map" src="https://maps.googleapis.com/maps/api/staticmap?markers=52.400997,-1.508122&amp;size=465x256&amp;zoom=12&amp;client=gme-skillsfundingagency&amp;signature=lCuCTEI-K25bn1YgDLOSpzopvFk=" alt="Location map">
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Training</h2>
        </div>
      
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Training provider</h3>
          <p>PENSHAW VIEW TRAINING LIMITED</p>
          <p>Applications for this apprenticeship are being processed by Penshaw View Training Limited</p>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Contact</h3>
          <p>Kathryn Hewitt-Meadows 07949964739<br>
          Kathryn.Hewitt-Meadows@Penshawview.co.uk</p>
        </div>

        <div class="govuk-grid-column-one-half">

          <p>Level 3 Safety, Health & Environment Technician, which includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Level 2 Functional Skills in Maths and English (if required)</li>
            <li>Level 1 ICT</li>
            <li>Work based delivery of Level 3 Apprenticeship Standard.</li>
            <li>Full company induction including Health & Safety.</li>
            <li>20% off the job time will be given for study/assignments.</li>
            <li>Monthly contact session with your PV trainer.</li>
            <li>Internal training provided by your employer and workplace mentor.</li>
   
          </ul>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Apprenticeship standard</h3>
          <p>Safety, health and environment technician<br>
          Level 3 (A level)</p>
  
        </div>
  
      </div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">
            Employer's Application Instructions
          </h2>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p>Application journey: Apply through external link/click start your journey today/scroll to the bottom of the screen/ select job category of medical health & safety/select relevant job vacancy. Your recruitment process will start with your online application (providing your CV as well as answering questions about the above basic qualifications) and will then take you onto online testing through one of our external training providers. As a last step, we will invite successful candidates to an assessment centre where they will participate in a group exercise, execute a practical exercise and get a chance to present their profile, motivation and skills 1-on-1 during interviews or presentations.</p>
          <p>This apprenticeship requires you to apply through the employer's website.</p>
        </div>
      </div>
     
    </div>
    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h2 class="govuk-heading-m">Now submit your advert</h2>

      <p class="govuk-body">By submitting this advert you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/form-handler" method="post" novalidate>
        <div class="govuk-button-group">
          <input type="hidden" name="answers-checked" value="true">
          
          <button class="govuk-button" data-module="govuk-button">
            Submit advert
          </button>

          <a href="check-your-answers" class="govuk-button govuk-button--secondary">Change your advert</a>
        </div>

      </form>

    </div>
  </div>
</div>
{% endblock %}