
{% extends "layout-guidance.html" %}

{% block pageTitle %}
Creating an apprenticeship vacancy as a training provider - Recruit an apprentice - Collection - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Apprenticeships</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="collection-home">Recruit an apprentice</a>
      </li>
    </ol>
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds contents-list">        
        <!--<span class="govuk-caption-xl gem-c-title__context">Collection</span>-->
        <h1 class="govuk-heading-xl">Creating an apprenticeship vacancy as a training provider</h1>
      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds mainstream-guide-content">
        <!--<h2 class="govuk-heading-m">Overview</h2>-->
        <p class="govuk-body">
          You can create a vacancy in the <a href="https://accounts.manage-apprenticeships.service.gov.uk/" class="govuk-link govuk-link--no-visited-state">‘Recruitment’ section of your apprenticeship service account</a>. If you need to create multiple or similar vacancies, you can clone them after you submit the vacancy.
        </p>
        <p class="govuk-body">
          We usually approve or reject vacancies within 24 hours.
        </p>
        <p class="govuk-body">
          Before you create a vacancy, learn about <a href="https://www.gov.uk/employer-preventing-discrimination/recruitment" class="govuk-link govuk-link--no-visited-state">preventing discrimination in recruitment</a>.
        </p>
        <p class="govuk-body">
          You will need the employer to give you permission to create apprenticeship vacancies on their behalf. They may choose to review the vacancies.
        </p>

        <h2 class="govuk-heading-m">What you'll need</h2>

        <p class="govuk-body">Before you start, you’ll need to know the:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>vacancy name - this must relate to the apprenticeship training and use the word ‘apprentice’ or ‘apprenticeship’</li>
          <li><a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/" class="govuk-link govuk-link--no-visited-state">training that the apprentice will take</a></li>
          <li>training provider that will deliver the training</li>
          <li>number of available positions</li>
          <li>organisation’s name, address and location</li>
          <li>start date, application closing date and whether the job is disability confident</li>
          <li>duration of the apprenticeship and details of a typical working week</li>
          <li>wage</li>
          <li>places you want to get applications (on ‘find an apprenticeship’ or an external site)</li>
        </ul>

        <p class="govuk-body">You can save each vacancy as a draft and edit it before you submit it to us, as well as preview how it’ll look. If the employer has chosen to review the vacancy first, you may receive changes from them, you can find these in your recruitment dashboard.<br><br>
          We’ll give you a reference number for the vacancy after you submit it.
        </p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">You can check the status of each vacancy in your recruitment dashboard. The statuses are:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>rejected</li>
          <li>draft</li>
          <li>live</li>
          <li>closed</li>
          <li>pending review</li>
        </ul>

          <!--<div class="info-notice">
          <p>You cannot vote online in any elections.</p>
          </div>-->

        <p class="govuk-body">
          We’ll check the vacancy and let you know if you need to make any edits within 24 hours. You can view what edits you need to make on your ‘recruitment’ dashboard, but you can also choose to get email notifications.
        </p>
        <p class="govuk-body">
          Once we’ve approved the vacancy, you can view it on <a href="https://www.gov.uk/apply-apprenticeship" class="govuk-link govuk-link--no-visited-state">Find an Apprenticeship</a>.
        </p>
        <p class="govuk-body">
          You can also increase the wage or extend the closing date after the vacancy has gone live.
        </p>

        <h2 class="govuk-heading-m">Our new APIs make creating and displaying vacancies even easier</h2>

        <h3 class="govuk-heading-s">What are APIs?</h3>
        
        <p class="govuk-body">
          APIs (Application Programming Interfaces) let systems share information and data with each other. 
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Recruitment API<br>Our Recruitment API allows you to create vacancies on Find an apprenticeship using your own systems</li>
          <li>Display adverts API<br>Our Display adverts API allows you to display vacancies from Find an apprenticeship on your own websites</li>
        </ul>

        <p class="govuk-body">
          You will need someone with technical knowledge to connect your system with the APIs, for example a software developer.
          <br><br>
          <a href="providers-get-started" class="govuk-link govuk-link--no-visited-state">Find out about our recruitment APIs</a>
        </p>

        <ul class="gem-c-pagination__list" data-module="gem-track-click">
              <li class="gem-c-pagination__item gem-c-pagination__item--next">
                <a href="/how-to-vote/voting-and-coronavirus" class="govuk-link gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/how-to-vote/voting-and-coronavirus" data-track-dimension="next" data-track-dimension-index="29">
                  <span class="gem-c-pagination__link-title">
                    <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                    <span class="gem-c-pagination__link-text">Next</span>
                  </span>
                  <!--<span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">Voting and coronavirus (COVID-19)</span>-->
                </a>
              </li>
          </ul>
          <!--<div class="pagination">
            <p class="govuk-heading-s"><a href="#" class="pagination-link">Next</a></p>
            <p class="govuk-body-s pagination-subtitle-link"><a href="#">Voting and coronavirus (COVID-19)</a></p>
          </div>-->
      </div>

    <div class="govuk-grid-column-one-third">
      <div class="related-navigation">
        <h2 class="govuk-heading-s">Related content</h2>
        <ul class="govuk-list related-links">
          <li class="govuk-body-s"><a href="#">List item 1</a></li>
          <li class="govuk-body-s"><a href="#">List item 2</a></li>          
        </ul>
      </div>
    </div>
  </main>
</div>
{% endblock %}