{% extends "devhub-layout.html" %}

{% block pageTitle %}
Display adverts API - Apprenticeship services - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Display adverts API</h1>
    <!--<p class="govuk-body">
      You need to subscribe to the API to copy an API key and give it to your developer, this gives them permission to connect to the API on your behalf.
    </p>-->
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"> API name </th>
          <th class="govuk-table__header" scope="col" style="width:12%;"> Action </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" id="display-adverts-api">
            Display adverts API
            <span class="govuk-caption-m">Display recruitment adverts from Find an apprenticeship.</span>
          </td>
          <td class="govuk-table__cell">
            <a href="display-adverts-api-key" class="govuk-link govuk-link--no-visited-state">
              Get key
            </a>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}