{% extends "tp-layout.html" %}

{% block pageTitle %}
Check your answers before submitting your vacancy - Recruitment - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
<form action="" method="post">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before submitting your vacancy</h1>

        <h2 class="govuk-heading-m">Vacancy summary</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vacancy title
            </dt>
            <dd class="govuk-summary-list__value">
              [[your vacancy name]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> vacancy name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of organisation
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected organisation]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> organisation</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Training course
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected training]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> training</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Training provider
            </dt>
            <dd class="govuk-summary-list__value">
              [[your training provider]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> training provider</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Summary of the apprenticeship
            </dt>
            <dd class="govuk-summary-list__value">
              [[your short description]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> short description</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What will the apprentice be doing?
              <br>
              <br>
              Training and qualification levels
            </dt>
            <dd class="govuk-summary-list__value">
              [[your description]]
              <br>
              <br>
              <br>
              <br>
              [[your description]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Employment details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Application closing date
              <br>
              <br>
              Apprenticeship start date
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected dates]]
              <br>
              <br>
              <br>
              [[selected dates]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pay rate
              <br>
              <br>
              Extra information about pay (optional)
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected pay]]
              <br>
              <br>
              [[your description, or if the user has not written anything just put None]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
              <br>
              <br>
              Working week details
              <br>
              <br>
              Hours per week
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected months or years]]
              <br>
              <br>
              [[your description]]
              <br>
              <br>
              <br>
              [[selected number]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of positions
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected number]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> number of positions</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected location]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> selected location</span>
              </a>
            </dd>
          </div>
       
        </dl>

        <h2 class="govuk-heading-m">Requirements and prospects</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Skills
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>[[skills and qualities 1]]</li>
                <li>[[skills and qualities 2]]</li>
                <li>[[skills and qualities 3]]</li>
       <!--          <li>Communication skills</li>
                <li>Attention to detail</li>
                <li>Customer care skills</li> -->
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>[[Qualificattion information]]</li>
       <!--          <li>GCSE or equivalent English (Grade 8) essential</li> -->
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Future prospects
            </dt>
            <dd class="govuk-summary-list__value">
               [[your description]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div> 

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other things to consider
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected considerations]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> considerations</span>
              </a>
            </dd>
          </div>          
        </dl>

<!-- section start -->
        <h2 class="govuk-heading-m">About the employer</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of employer on vacancy
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected employer name]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> employer name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Employer information
              <br>
              <br>
              Disability Confident Employer?
              <br>
              <br>
              Organisation website (optional)
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected information]]
              <br>
              <br>
              <br>
              [[Yes if selected tick box, No if not selected]]
              <br>
              <br>
              [[your description, or if the user has not written anything just put None]]              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
              <br>
              <br>
              Contact name 
              <br>
              <br>
              Contact number 
            </dt>
            <dd class="govuk-summary-list__value">
              [[Yes/No]]
              <br>
              <br>
              [[Contact name if selected]]
              <br>
              <br>
              [[Contact number if selected]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Application website
              <br>
              <br>
              <br>
              <br>
              Explain the application process (optional)
            </dt>
            <dd class="govuk-summary-list__value">
               [[selected answer, if it is ‘different website, the link should be included]]
              <br>
              <br>
             [[your description, or if the user has not written anything just put None]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div>     

        </dl>
<!-- section end -->

<!-- section start -->
<h2 class="govuk-heading-m">Application</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Question 1
      <br>
      <br>
      <br>
      Question 2
      <br>
      <br>
    </dt>
    <dd class="govuk-summary-list__value">
      [[show question or 'None' if they haven't entered one]]
      <br>
      <br>
      [[show question or 'None' if they haven't entered one]]
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> description</span>
      </a>
    </dd>
  </div>   

</dl>
<!-- section end -->

        <h2 class="govuk-heading-m">Now submit your vacancy</h2>

        <p class="govuk-body">By submitting this vacancy you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Proofread your vacancy for spelling and formatting to avoid it being rejected by our QA team.
          </strong>
        </div>

        <p><a class="govuk-link" href="preview-vacancy">Preview vacancy before submitting</a></p>
        
        <br>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <div class="govuk-button-group">
            
            <a href="confirmation" class="govuk-button" data-module="govuk-button">Submit vacancy</a>


            

            <a href="../dashboard" class="govuk-link" href="#">Cancel</a>
          </div>
          

        </form>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!-- delete vacancy START -->
      <h1 class="govuk-heading-s">No longer need this vacancy?</h1>

      <a href="delete" class="govuk-button govuk-button--warning">Delete vacancy</a>
<!-- delete vacancy END -->

      </div>
</div>
{% endblock %}