{% set version = 'v9' %}


<h2 class="govuk-heading-l">
  <span class="govuk-tag">LATEST version</span><br>
  Design sprint 9
  <span class="govuk-caption-l">
    22 June 2022 &ndash; 5th July 2022
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukDetails({
      summaryText: "Sprint goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we're doing</th>
            <th scope='col' class='govuk-table__header'>Why we're doing it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Working through final updates to RAA</td>
            <td class='govuk-table__cell'></td>
          </tr>
        </tbody>
      </table>"
    }) }}    

 

     
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design tickets (in Trello)</h4> 
    <ul class="govuk-list govuk-list--bullet"> 
      <li><a href="https://trello.com/c/elcTGU4Q/219-219-update-edit-live-vacancy-journey-employer-prover-traineeships" class="govuk-link govuk-link--no-visited-state">Edit live vacancy</a></li>  
    </ul>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design artefacts</h4>  
    <ul class="govuk-list govuk-list--bullet">                           
      <li><a href="https://lucid.app/lucidspark/75df8cd3-1247-466f-b7c6-7980cf119bf5/edit?viewport_loc=-334348%2C-377584%2C50119%2C25716%2C0_0&invitationId=inv_295930d0-a2eb-4b25-a72a-e25f0aea5c39#" class="govuk-link govuk-link--no-visited-state">Lucid board</a></li>
    </ul>

<!-- ////EMPLOYER//// -->
      <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Employer</h4>                                              
      <div class="govuk-button-group">
        <a href="/{{version}}/employer/login" class="govuk-button" style="background: #6F72AF" data-module="govuk-button">View journey</a>
      </div>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we've done this sprint
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class='govuk-table'>                    
            <thead class='govuk-table__head'>
              <tr class='govuk-table__row'>
                <th scope='col' class='govuk-table__header'>Page</th>
                <th scope='col' class='govuk-table__header'>What we've done this sprint</th>
              </tr>
            </thead>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="/v9/employer/view-advert/3b-manage-advert-closed">Manage livey vacancy</a></td>
                <td class='govuk-table__cell'>
                  <li>CHANGED the 'Edit vacancy' link content</li>
                  <li>CHANGED the journey to edit dates</li>
                </td>
              </tr>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="/v9/employer/view-advert/3b-manage-advert-closed">Edit vacancy dates</a></td>
                <td class='govuk-table__cell'>
                  <li>ADDEDD success notification banner</li>
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
      </details>




<!-- //// PROVIDER//// -->
      <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Provider</h4>

      <div class="govuk-button-group">
        <a href="/{{version}}/provider/login" class="govuk-button" style="background:#F47737" data-module="govuk-button">View journey</a> 
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we've done this sprint
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class='govuk-table'>                    
            <thead class='govuk-table__head'>
              <tr class='govuk-table__row'>
                <th scope='col' class='govuk-table__header'>Page</th>
                <th scope='col' class='govuk-table__header'>What we've done this sprint</th>
              </tr>
            </thead>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="/v9/employer/view-advert/3b-manage-advert-closed">Manage livey vacancy</a></td>
                <td class='govuk-table__cell'>
                  <li>CHANGED the 'Edit vacancy' link content</li>
                  <li>CHANGED the journey to edit dates</li>
                </td>
              </tr>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="/v9/employer/view-advert/3b-manage-advert-closed">Edit vacancy dates</a></td>
                <td class='govuk-table__cell'>
                  <li>ADDEDD success notification banner</li>
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
      </details>


<!-- ////TRAINEESHIP -->
      <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Traineeship</h4>  

      <div class="govuk-button-group">
        <a href="/{{version}}/provider/login" class="govuk-button" style="background: #417F82" data-module="govuk-button">View journey</a>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we've done this sprint
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class='govuk-table'>                    
            <thead class='govuk-table__head'>
              <tr class='govuk-table__row'>
                <th scope='col' class='govuk-table__header'>Page</th>
                <th scope='col' class='govuk-table__header'>What we've done this sprint</th>
              </tr>
            </thead>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="/v9/employer/view-advert/3b-manage-advert-closed">Manage livey vacancy</a></td>
                <td class='govuk-table__cell'>
                  <li>CHANGED the 'Edit vacancy' link content</li>
                  <li>CHANGED the journey to edit dates</li>
                </td>
              </tr>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state" href="/v9/employer/view-advert/3b-manage-advert-closed">Edit vacancy dates</a></td>
                <td class='govuk-table__cell'>
                  <li>ADDEDD success notification banner</li>
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
      </details>                                           



  </div>
</div>