{% extends "tp-layout.html" %}

{% block pageTitle %}
Check your answers before submitting your vacancy - Recruitment - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
<form action="" method="post">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before submitting your vacancy</h1>

        <h2 class="govuk-heading-m">Apprenticeship summary</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What do you want to call this vacancy?
            </dt>
            <dd class="govuk-summary-list__value">
              [[your advert name]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> vacancy name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What training will the apprentice take?
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected training]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> training</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have you found a training provider?
            </dt>
            <dd class="govuk-summary-list__value">
              [[your training provider]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> training provider</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Short description of the apprenticeship
            </dt>
            <dd class="govuk-summary-list__value">
              [[your short description]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> short description</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description of the apprenticeship
            </dt>
            <dd class="govuk-summary-list__value">
              [[your description]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Employment details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How much would you like to pay the apprentice?
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected pay]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> pay</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration and working hours
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected hours]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> selected hours</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Important dates
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected dates]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> selected dates</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Where will the apprentice work?
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected location]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> selected location</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How many positions are there? 
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected number]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> number of positions</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Skills and qualifications</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What skills and personal qualities would you like the applicant to have?
            </dt>
            <dd class="govuk-summary-list__value">
              [[skills and qualities]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> skills and qualities</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What qualifications would you like the applicant to have?
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected qualifications]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> selected qualifications</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What else would you like the applicant to consider? (optional)
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected considerations]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> considerations</span>
              </a>
            </dd>
          </div>          
        </dl>

        <h2 class="govuk-heading-m">About the employer</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which organisation is this vacancy for?
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected organisation]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> organisation</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which employer name do you want on your vacancy?
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected employer name]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> employer name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Add some information about the employer
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected information]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> employer information</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Add contact information about the employer
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected contact information]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> selected contact information</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How would you like to receive applications?
            </dt>
            <dd class="govuk-summary-list__value">
              [[selected answer]]
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> selected answer</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Now submit your vacancy</h2>

        <p class="govuk-body">By submitting this vacancy you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Submit vacancy
          </button>

        </form>

      </div>
</div>
{% endblock %}