{% extends "tp-layout.html" %}

{% block pageTitle %}
Create a vacancy - Recruitment - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Create a vacancy</h1>
    <p class="govuk-body">
      We’ll approve or reject your vacancy within 24 hours. You can clone a vacancy once you’ve submitted it.
    </p>
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            Do you want to create a new vacancy?
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="" name="advert-create" type="radio" value="yes" {% if data.VacancyId=="yes" %}checked="checked" {%endif%}data-aria-controls="disability-confident-1">
                            <label class="govuk-label govuk-radios__label" for="create-new">Yes, create new vacancy</label>
                        </div><!--
                            <div class="govuk-radios__conditional {% if data.VacancyId == "yes" %}govuk-radios__conditional--hidden{% endif %}" id="disability-confident-1">
                              <h2>Is the new advert disability confident?</h2>
                              <div class="govuk-hint">
                                  <a href="https://louderthanwords.org.uk/the-disability-confident-scheme-explained/?gclid=Cj0KCQjwtMCKBhDAARIsAG-2Eu8wNrELrFPmM1xy5AlcB-4rhnmdim6_fYQfn378tgEe6iIe7tHCWsgaAsDrEALw_wcB" target="_blank"title="Learn more about being Disability Confident">Disability Confident</a> is a government scheme that helps employers attract, recruit and retain disabled staff.
                              </div>
                              <div class="govuk-form-group search-field search-field-darker">
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" type="radio" value="yes" id="disability-confident-yes" name="disability-confident">
                                  <label class="govuk-label govuk-radios__label" for="disability-confident-yes">
                                      Yes, the new advert is disability confident
                                  </label>
                                </div>
                          </div>

                            <div class="govuk-form-group search-field search-field-darker">
                                <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" type="radio" value="no" id="disability-confident-no" name="disability-confident">
                                <label class="govuk-label govuk-radios__label" for="disability-confident-no">
                                  No, the new advert is not disability confident
                                </label>
                              </div>
                        </div>
                      </div>-->
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" value="" name="advert-create">
                                <label class="govuk-label govuk-radios__label" for="e659ea2b-ec12-4d11-ac63-57fb128805b1">No, clone 1000003681
                                    <div class="govuk-hint">
                                        Manufacturing Engineering Rail Engineering apprenticeship, closing 01 Nov 2021, status: Pending review, Abattoir Worker, Level: Intermediate (Standard)
                                    </div>
                                </label>
                            </div>
                          </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <a href="title" type="submit" value="Continue" class="govuk-button" data-automation="continue-button">Save and continue</a>
            </div>
        <input name="_csrfToken" type="hidden" value="CfDJ8Bj8cnmTmplAogzUotEbRs7SDOC4CwvU7Hi-Wg6vNbq7-UNZSGgETO_jpKh6S3FNDwdwox0w2KVeOfuYDyPrEQC2z0ID2g3Zxfm7vpDzkSNX7xALmZLWN5vP95Sr3QkJVGplTGfzGSrhyIy_HbkxbqnYwjQdCjv3iompYCKAY-8lB0d0LiWYDvBfnbWftcsorQ"></form>
    </div>
</div>
{% endblock %}
