{% extends "tp-layout.html" %}


{% block pageTitle %}
Manage apprentices
{% endblock %}
{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
</div>
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <section>
      <span class="govuk-caption-l">Entry Level Development Engineer Apprentice</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Judy Ward
      </h1>

      <p class="govuk-body-l">Application ID: 897DW5T</p>

<!-- CONTACT DETAILS -->
<h2 class="govuk-heading-l">Contact details</h2>

<div class="panel panel-border-narrow">
  <p class="govuk-body">
    Judy Ward<br>13 Old Hinckley Road<br>Nuneaton<br>Warwickshire<br>CV10 0AA
  </p>
  <p class="govuk-body">
    07812345678
    <br> <a href="mailto:faizal.dawood@domainname.co.uk">judy.ward@domainname.co.uk</a>
  </p>
</div>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<!-- ABOUT YOU -->
    <section>
      <h2 class="govuk-heading-l">About you</h2>

      <div class="govuk-form-group">
        <span class="govuk-label govuk-!-font-weight-bold">What are your main strengths?</span>
        <span>XXXXXXXXXX</span>
      </div>
      <div class="govuk-form-group">
        <span class="govuk-label govuk-!-font-weight-bold">What skills would you like to improve during this apprenticeship?</span>
        <span>XXXXXXXXXX</span>
      </div>
      <div class="govuk-form-group">
        <span class="govuk-label govuk-!-font-weight-bold">What are your hobbies and interests?</span>
        <span>XXXXXXXXXX</span>
      </div>
    </section>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!-- EDUCATION -->
    <section>
      <h2 class="govuk-heading-l">Education</h2>

      <h3 class="govuk-heading-s">Name of most recent school/college</h3>
      <p>XXXXXXXXXX</p>

      <h3 class="govuk-heading-s">Years attended</h3>
      <table>
        <thead>
          <tr>
            <th>Started</th>
            <th>Finished</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2009</td>
            <td>2019</td>
          </tr>
        </tbody>
      </table>
    </section>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!-- QUALIFICATIONS -->
    <section>
      <h2 class="govuk-heading-l">Qualifications</h2>

      <p>XXXXXXXXXX</p>

    </section>

    <section>
      <h2 class="govuk-heading-l">Work experience</h2>

      <p>XXXXXXXXXX</p>

    </section>

    <section>
      <h2 class="govuk-heading-l">Training courses</h2>

      <p>XXXXXXXXXX</p>


    </section>

<!-- SKILLS -->
    <section>
      <h2 class="govuk-heading-l">Skills the Employer wants</h2>

      <p>
        Communication skills
      </p>
    </section>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!-- EMPLOYER QUESTIONS -->
<section>
  <h2 class="govuk-heading-l">Additional questions</h2>

  <h3 class="govuk-heading-s">Why are you interested in this role?</h3>
  <p>XXXXXXXXXX</p>

  <h3 class="govuk-heading-s">Are you able to travel to multiple sites?</h3>
  <p>Yes</p>

</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!-- ADDITIONAL QUESTIONS -->
<section>
  <h2 class="govuk-heading-l">Equality questions</h2>

  <h3 class="govuk-heading-s">Do you have a learning difficulty, disability or health problem?</h3>
  <p>No</p>

  <h3 class="govuk-heading-s">Is there anything we can do to support your interview?</h3>
  <p>
    <span>I don't have any interview support requirements</span>

  </p>
  <br>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</section>
      


<!-- EMPLOYER RESPONSE -->
    <section>
      <h2 class="govuk-heading-l">Employer response</h2>

      <p>No, the employer does not want to interview this applicant.</p>

      {{ govukInsetText({
        html: "No, I don't think this applicant will be a good fit for the role."
      }) }}

      <br>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </section>

<!-- RADIO BUTTONS     -->
<section>
     
      <form method="post" action="../view/7b-check-unsuccessful">

                <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="200">
                  <div class="govuk-form-group">
                    <h1 class="govuk-heading-l">
                      Make application unsuccessful
                    </h1>
                    <div id="sign-in-hint" class="govuk-hint">
                      Help the applicant understand why their application was unsuccessful. Your comments will be sent to the applicant.
                    </div>
                    <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="contact-by-unsuccessful" rows="8" aria-describedby="word-count-info"></textarea>
                  </div>
                
                  <div id="word-count-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 200 words
                  </div>
                
                </div>

              
<!-- BUTTONS -->
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      
        <a class="govuk-link" href="#">Cancel</a>
      </div>
      
    </form>



    </section>


  </div>
</div>


{% endblock %}
