{% extends "layout.html" %}

{% block pageTitle %}
Check your email - Forgotten password - Apprenticeship services - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Check your email
		</h1>		
		<p class="govuk-body">
			To change your password, use the password reset link we have sent to your registered email address.
		</p>

		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

		<p class="govuk-body"><a href="forgotten-password-email" class="govuk-link govuk-link--no-visited-state">View email</a></p>
	</div>
</div>
{% endblock %}