{% extends "layout.html" %}

{% block pageTitle %}
Get started - Apprenticeship services - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Get started</h1>      
    <h2 class="govuk-heading-l">About the recruitment and display adverts APIs</h2>
    <p class="govuk-body">
      <a href="recruitment-api-documentation" class="govuk-link govuk-link--no-visited-state">Recruitment API</a><br><br>
      <a href="recruitment-api-sandbox-documentation" class="govuk-link govuk-link--no-visited-state">Recruitment API sandbox</a><br><br>
      <a href="display-adverts-api-documentation" class="govuk-link govuk-link--no-visited-state">Display adverts API</a><br><br>
      RESTful APIs.<br><br>
      Being RESTful, each record of information is assigned a globally unique URI, and the operations available on each resource are directly mapped to HTTP verbs. Data can be easily consumed by issuing simple GET requests on the required resource URI.<br><br>
      Read the Companies House REST API overview for more information about our API approach, REST web services and the JSON data format.
    </p>
    <h2 class="govuk-heading-l">API authentication</h2>
      <p class=govuk-body">
        Access to API services requires authentication. Recruitment API requires <a href="#" class="govuk-link govuk-link--no-visited-state">API authentication</a> credentials to be sent with each request, which is sent as an API key, stream key or OAuth access token.<br><br>
        Learn <a href="#" class="govuk-link govuk-link--no-visited-state">how to create an application</a> as well as API keys, stream keys and OAuth web clients.
    </p>
    <h2 class="govuk-heading-l">Using our APIs if you are working for an employer or training provider</h2>
    <p class="govuk-body">
      You will need the employer or provider to subscribe to the APIs and give you a key.<br><br>
      They will be able to do this for the recruitment and display adverts APIs.<br><br>
      They will also be able to send you a link to the documentation.<br><br>
      If you would like to view the documentation and API you <a href="#" class="govuk-link govuk-link--no-visited-state">access it here</a>. You will have reduced functionality until the provider or employer subscribes and gives you a key.
    </p>
    <h2 class="govuk-heading-l">Using our display adverts API if you are working independently</h2>
    <p class="govuk-body">
      You will need to <a href="register" class="govuk-link govuk-link--no-visited-state">subscribe to the API</a> and get a key.<br><br>
      You will then be able to use the display advert API.<br><br>
      If you would like to view the documentation and API you <a href="#" class="govuk-link govuk-link--no-visited-state">access it here</a>.<br>
    </p>
    <h2 class="govuk-heading-l">Developer guidelines</h2>
    <p class="govuk-body">
      Read the <a href="#" class="govuk-link govuk-link--no-visited-state">developer guidelines</a> for information about security, API rate limits and enumerated types as you’re developing your application.
    </p>    
  </div>
</div>
{% endblock %}