{% extends "layout.html" %}

{% block pageTitle %}
Change password - Forgotten password - Apprenticeship services - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Change password
		</h1>		

		{{ govukInput({
			label:
			{
				text: "Create new password",
				classes: "govuk-!-width-three-quarters"
			},
			hint: {
			  text: "Password requires upper and lowercase letters, a number and at least 8 characters."
			},
			id: "password",
			name: "password",
			type: "password",
			classes: "govuk-!-width-three-quarters"
		}) }}

		{{ govukInput({
			label:
			{
				text: "Confirm new password",
				classes: "govuk-!-width-three-quarters"
			},
			id: "password2",
			name: "password2",
			type: "password",
			classes: "govuk-!-width-three-quarters"
		}) }}

		{{ govukButton({
			text: "Confirm",
			classes: "govuk-!-margin-top-6",
			href: "forgotten-password-changed"
		}) }}

	</div>
</div>
{% endblock %}