{% extends "ma-layout.html" %}

{% block pageTitle %}
Manage advert
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">	Electronic Engineering Technician Apprentice</h1>



<!-- ////START SUMMARY//// -->
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      Live
    </dd>
  </div>
  <!-- <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Advert title
    </dt>
    <dd class="govuk-summary-list__value">
      Electronic Engineering Technician Apprentice
    </dd>
  </div> -->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Advert reference
    </dt>
    <dd class="govuk-summary-list__value">
      VAC1000000997
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Closing date
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">01 Jan 2022</p>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Possible start date
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">01 Aug 2022</p>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Disability confident
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">No</p>
    </dd>
  </div>
</dl>
<!-- ////END SUMMARY//// -->
    
    <div class="grid-row">
      <div class="column-full">

        <p class="govuk-body">
          <a class="govuk-link button-link  govuk-link--no-visited-state" href="view">View advert</a> &nbsp;
          <a class="govuk-link button-link  govuk-link--no-visited-state" href="3c-dates">Edit advert dates</a> &nbsp;
          <a class="govuk-link button-link  govuk-link--no-visited-state" href="#">Clone advert</a> &nbsp;
          <a class="govuk-link button-link  govuk-link--no-visited-state" href="#">Close advert</a> 
        </p>
      </div>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<!-- analytics START -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Advert analytics
      <span class="govuk-caption-l">Showing stats from 12th Oct 2022 to 17th Oct 2022</span>
    </h2>
    <p class="govuk-body">Analytics show the total amount and the change from the previous 7 days</p>
    <div id="analytics" class="govuk-grid-row">
      <div class="analytics--block govuk-grid-column-one-half" style="border: 1px solid">
        <!-- <h3 class="analytics--header govuk-heading-s">Appeared in search</h3> -->
        <h3 class="govuk-heading-s">Appeared in search</h3>
        <div class="analytics--summary">
          <!-- <div class="analytics--numeric">68 <span class="govuk-visually-hidden">times</span></div> -->
          <p class="analytics--info govuk-!-font-weight-bold govuk-!-font-size-48">68</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="analytics--info"><span class="govuk-!-font-weight-bold">+12</span> increase <span class="govuk-visually-hidden"> in the last 7 days</span></p>
        </div>
        <!-- <div class="analytics--summary">
          <div class="analytics--numeric">68 <span class="govuk-visually-hidden">times</span></div>
          <p class="analytics--info"><span class="govuk-!-font-weight-bold">+12</span> increase <span class="govuk-visually-hidden"> in the last 7 days</span></p>
        </div> -->
      </div>
      <div class="analytics--block govuk-grid-column-one-half" style="border: 1px solid">
        <!-- <h3 class="analytics--header govuk-heading-s">Total times viewed</h3> -->
        <h3 class="govuk-heading-s">Total times viewed</h3>
        <div class="analytics--summary">
          <!-- <div class="analytics--numeric">12</div> -->
          <p class="analytics--info govuk-!-font-weight-bold govuk-!-font-size-48">42</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="analytics--info"><span class="govuk-!-font-weight-bold">+5</span> increase <span class="govuk-visually-hidden"> in the last 7 days</span></p>
        </div>
      </div>
      <div class="analytics--block govuk-grid-column-one-half" style="border: 1px solid">
        <!-- <h3 class="analytics--header govuk-heading-s">Total applications started</h3> -->
        <h3 class="govuk-heading-s">Total applications started</h3>
        <div class="analytics--summary">
          <!-- <div class="analytics--numeric">7</div> -->
          <p class="analytics--info govuk-!-font-weight-bold govuk-!-font-size-48">7</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="analytics--info"><span class="govuk-!-font-weight-bold">+1</span> increase <span class="govuk-visually-hidden"> in the last 7 days</span></p>
        </div>
      </div>
      <div class="analytics--block govuk-grid-column-one-half" style="border: 1px solid">
        <!-- <h3 class="analytics--header govuk-heading-s">Total applications submitted</h3> -->
        <h3 class="govuk-heading-s">Total applications submitted</h3>
        <div class="analytics--summary">
          <!-- <div class="analytics--numeric">1</div> -->
          <p class="analytics--info govuk-!-font-weight-bold govuk-!-font-size-48">20</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="analytics--info"><span class="govuk-!-font-weight-bold">No</span> increase</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ////END ANALYTICS//// -->

<br>

{{ govukButton({
  text: "Manage applications",
  href: "3c-manage-applications"
}) }}

</div>
</div>

{% endblock %}
