<h2 class="govuk-heading-l" id="sprint-12">
  <span class="govuk-tag">LATEST</span><br>
  Design sprint 3
  <span class="govuk-caption-l">
    24th November &mdash; 21st December 2021
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukDetails({
      summaryText: "Sprint goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we're doing</th>
            <th scope='col' class='govuk-table__header'>Why we're doing it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Iterating on our designs for the new API hub</td>
            <td class='govuk-table__cell'>Iterations based on user research will enable us to optimise the journeys</td>
          </tr>
        </tbody>
      </table>"
    }) }}    
    <ul class="govuk-list govuk-list--bullet">
      <h3 class="govuk-heading-m">EPIC: Recruitment APIs</h3>
        <ul class="govuk-list govuk-list--bullet">  
          <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Design tickets (in Trello)</h4> 
          <li><a href="https://trello.com/c/LDdjtrSX" class="govuk-link govuk-link--no-visited-state">#131 - V3 - Changes to key page for Prov and Emp</a></li>
          <li><a href="https://trello.com/c/GzVnwzIl" class="govuk-link govuk-link--no-visited-state">#132 - V3 - Changes to emp/prov get started pages in service</a></li>
          <li><a href="https://trello.com/c/8LLac9QT" class="govuk-link govuk-link--no-visited-state">#127 - Gov.uk guidance pages</a></li>                                          
          <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Design artefacts</h4>                            
          <li><a href="https://miro.com/app/board/o9J_lqGAI0o=/" class="govuk-link govuk-link--no-visited-state">Design board (Miro)</a></li>
          <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Copy docs</h4>
          <p class="govuk-body">Held in Trello tickets above</p>
          <h4 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom:10px;">Protoype links</h4>                                        
            <li><a href="v3/employer/login" class="govuk-link govuk-link--no-visited-state">Employer service (starts at Sign in)</a></li>
            <li><a href="v3/provider/login" class="govuk-link govuk-link--no-visited-state">Provider service (starts at Sign in)</a></li>
            <li><a href="v3/guidance/get-started" class="govuk-link govuk-link--no-visited-state">Dev portal</a></li>
            <li><a href="v3/guidance/collection-home" class="govuk-link govuk-link--no-visited-state">GOV.UK guidance - Recruitment collection page</a></li>    
            <li>Emails</li>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="v3/guidance/promo-email" class="govuk-link govuk-link--no-visited-state">Promotional email</a></li>
              <li><a href="v3/guidance/dev-to-user-email" class="govuk-link govuk-link--no-visited-state">Developer email</a></li>              
        </ul>
  </div>
</div>