{% extends "ma-home-layout.html" %}

{% block pageTitle %}
Manage vacancy
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Are you sure you want to make these applications unsuccessful?</h1>

    
  <!-- list START       -->

                 
  <div style="background-color: #f3f2f1; padding: 15px;">
    
        <ul class="govuk-list govuk-list--bullet">

            {% if data['unsuccessful'] is string %}

            <li>{{ data[data['unsuccessful'] + '-name'] }}: {{ data['unsuccessful'] }}</li>

            {% else %}

                {% for applicantID in data['unsuccessful'] %}
                <li>{{ data[applicantID + '-name'] }}: {{ applicantID }}</li>
                {% else %}
                <li>No applicants selected</li>
                {% endfor %}

            {% endif %}

        </ul>

    </div>
<!-- list END -->

<br>
<br>

<h2 class="govuk-heading-m">Your message to these applicants:</h2>

<div class="govuk-inset-text">
  {{ data['give-feedback'] }}
</div>
<br>

<!-- radio buttons START -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <form method="post" action="3c-manage-applications-unsuccessful-multiple">

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="share_applications_yes" name="share_applications" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="share_applications_yes">
                  Yes, make these applications unsuccessful and notify the applicants
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="share_applications_no" name="share_applications" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="share_applications_no">
                  No, do not make these applications unsuccessful
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>
 <!-- radio buttons END -->

 {{ govukWarningText({
  text: "This action cannot be undone.",
  iconFallbackText: "Fallback text"
}) }}

 <button class="govuk-button" data-module="govuk-button">
  Confirm
</button>

</form>

  </div>
</div>

{% endblock %}
