{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<!-- Main content starts -->

 <!-- Full width heading starts -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      RAA / FAA design history. 
    </h1>
  </div>
</div>
 <!-- Full width heading ends -->



<div class="govuk-grid-row">
  <!-- Sprints section starts -->
  <div class="govuk-grid-column-two-thirds">
    {% include './v11/_summary.html' %}
                
    <h2 class="govuk-heading-l govuk-!-margin-top-9">
      Previous sprints archive
    </h2>

    {% set v10Html %}
    {% include './v10/_summary.html' %}
    {% endset %} 

    {% set v9Html %}
    {% include './v9/_summary.html' %}
    {% endset %} 

    {% set v8Html %}
    {% include './v8/_summary.html' %}
    {% endset %} 

    {% set v7Html %}
    {% include './v7/_summary.html' %}
    {% endset %} 

    {% set v6Html %}
    {% include './v6/_summary.html' %}
    {% endset %} 

    {% set v5Html %}
    {% include './v5/_summary.html' %}
    {% endset %} 

    {% set v4Html %}
    {% include './v4/_summary.html' %}
    {% endset %} 

    {% set v3Html %}
    {% include './v3/_summary.html' %}
    {% endset %} 

    {% set v2Html %}
    {% include './v2/_summary.html' %}
    {% endset %} 
    
    {% set v1Html %}
    {% include './v1/_summary.html' %}
    {% endset %} 

    {% set archiveHtml %}
    {% include './archive/_summary.html' %}
    {% endset %} 

     {{ govukAccordion({
      id: "accordion-default",
      items:
      [  
      {
        heading:
        {
          text: "Design sprint 10"
        },
        content:
        {
          html: v10Html
        },
        summary:
        {
          html: '3 August &mdash; 16 August 2022'
        }
      }, 
      {
        heading:
        {
          text: "Design sprint 9"
        },
        content:
        {
          html: v9Html
        },
        summary:
        {
          html: '22 June &mdash; 5 July 2022'
        }
      }, 
      {
        heading:
        {
          text: "Design sprint 8"
        },
        content:
        {
          html: v8Html
        },
        summary:
        {
          html: '8 June &mdash; 21 June 2022'
        }
      }, 
      {
        heading:
        {
          text: "Design sprint 7"
        },
        content:
        {
          html: v7Html
        },
        summary:
        {
          html: '29 May &mdash; 7 June 2022'
        }
      }, 
      {
        heading:
        {
          text: "Design sprint 6"
        },
        content:
        {
          html: v6Html
        },
        summary:
        {
          html: '2nd February &mdash; May 2022'
        }
      }, 
      {
        heading:
        {
          text: "Design sprint 5"
        },
        content:
        {
          html: v5Html
        },
        summary:
        {
          html: '5th January &mdash; 18th January 2022'
        }
      },  
      {
        heading:
        {
          text: "Design sprint 4"
        },
        content:
        {
          html: v4Html
        },
        summary:
        {
          html: '19th December 2021 &mdash; 5th January 2022'
        }
      },    
      {
        heading:
        {
          text: "Design sprint 3"
        },
        content:
        {
          html: v3Html
        },
        summary:
        {
          html: '24th November &mdash; 21st December 2021'
        }
      },
      {
        heading:
        {
          text: "Design sprint 2"
        },
        content:
        {
          html: v2Html
        },
        summary:
        {
          html: '10th November &mdash; 23rd November 2021'
        }
      },
      {
        heading:
        {
          text: "Design sprint 1"
        },
        content:
        {
          html: v1Html
        },
        summary:
        {
          html: '26th October &mdash; 9th November 2021'
        }
      },
      {
        heading:
        {
          text: "Link to recruit-v2 prototype"
        },
        content:
        {
          html: archiveHtml
        },
        summary:
        {
          html: 'Pre-October 2021'
        }
      }
      ]
    }) }}
  </div>
  <!-- Sprints section ends -->

  <!-- One third column starts -->
  <div class="govuk-grid-column-one-third">
  </div>
  <!-- One third column ends -->

</div>

<!-- Main content ends -->
{% endblock %}
